.formula_edit_menu {
	border-bottom: solid 1px #eee;
	height: 50px;
}

.formula_edit_menu_item {
	float: left;
	height: 50px;
}

.formula_edit_menu_button {
	border-right: solid 1px #eee;
	padding: 0 10px 0 0;
	margin: 10px 10px 10px 0;
	height: 30px;
}

.formula_edit_menu_button_inactive,
.formula_edit_menu_button_active {
	line-height: 30px;
	font-size: 1.4em;
}

.formula_edit_menu_button_inactive {
	opacity: 0.5;
}

.formula_edit_menu_button_active:hover {
	text-decoration: underline;
	cursor: pointer;
}

.formula_edit_menu_info {
	float: right;
	height: 30px;
	margin: 10px 0 10px 0;
	line-height: 30px;
}

.editor_frame {
	overflow: auto;
}

.editor {
	float: left;
	position: absolute;
}