.formula_title {
	font-size: 1.8em;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: solid 1px #eee;
}

.formula_info {
	overflow: auto;
}

.formula_info_label,
.formula_info_text {
	float: left;
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
}

.formula_info_label {
	width: 100px;
	font-weight: bold;
}

.formula_info_text {}

.formula_desc {
	padding: 5px 0 5px 0;
	margin: 10px 0 10px 0;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
	font-size: 1.2em;
}

.formula_field_label {
	font-size: 1.2em;
	color: #333;
	font-weight: bold;
	padding: 0 0 5px 0;
}

.formula_field_desc,
.formula_fieldset_desc {
	font-size: 1.1em;
	padding: 0 0 5px 0;
}

.formula_field_input {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: solid 1px #eee;
	width: 500px;
	overflow: auto;
	border: solid 1px #eee;
	background: #f4f4f4;
	padding: 0 0 0 5px;
	min-height: 30px;
}

.formula_select {
	font-size: 1.4em;
}

.formula_fieldset {
	margin: 0 0 10px 0;
	border-bottom: solid 1px #eee;
}

.formula_fieldset_label {
	font-size: 1.6em;
	color: #333;
	font-weight: bold;
	padding: 0 0 5px 0;
}

.formula_field_text {
	border: 0;
	background: none;
	font-size: 1.2em;
	width: 460px;
	height: 30px;
	line-height: 30px;
	float: left;
}

.formula_field_input input:focus {
	outline-width: 0;
}

.formula_field_radio,
.formula_field_checkbox {
	margin: 3px 10px 3px 0px;
}

.formula_field_check_opt {
	margin: 0 10px 0 0;
	float: left;
	height: 30px;
	line-height: 30px;
}

.formula_submit {
	overflow: auto;
}

.response_run_formula {
	float: right;
	font-size: 1.1em;
	color: #DE0000;
	padding: 0 10px 0 0;
	height: 30px;
	line-height: 30px;
}

.form_submit {
	float: right;
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: solid 1px #eee;
	background: #f4f4f4;
	text-align: center;
	font-size: 1.2em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.form_submit:hover {
	cursor: pointer;
	background: #f9f9f9;
}

.formula_field_label_dynamic {
	font-size: 1.1em;
	text-align: right;
	font-weight: bold;
	width: 500px;
	margin: 0 0 10px 0;
}

.formula_content_dynamic {
	border-bottom: solid 1px #eee;
	margin: 0 0 10px 0;
}