<div class="table_50" type="table" target="group_overview" style="opacity:0.0;">
	<div class="table_title">
		<div class="table_title_label">Overview</div>
		<div class="table_actions">
		
			{# Group Overview Panels #}
			<div class="table_action" type="button" action="grouptoggle" group="group_overview" target="group_members">Members</div>
			<div class="table_action_active" type="button" action="grouptoggle" group="group_overview" target="group_details">Details</div>
		</div>
	</div>

	{# Group Details #}
	<div class="table_window" type="grouptoggle" group="group_overview" name="group_details">
		<div class="table_panel_title">Overview</div>
		<div class="table_rows" type="table">
			<div class="table_row">
				<div class="table_row_label">Name</div>
				<div class="table_row_text">{{ groups.detail.name }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Description</div>
				<div class="table_row_text">{{ groups.detail.desc }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">UUID</div>
				<div class="table_row_text">{{ groups.detail.uuid }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Protected</div>
				<div class="table_row_select">
					<select name="protected" disabled>
						{% if group.protected %}
							<option value="true" selected="selected">Yes</option>
							<option value="false">No</option>
						{% else %}
							<option value="true">Yes</option>
							<option value="false" selected="selected">No</option>
						{% endif %}
					</select>
					<div class="table_row_select_lock" type="button" action="toggle_input" target="select[name='protected']" state="disabled"></div>
				</div>
			</div>
		</div>
	</div>
	
	{# Group Members #}
	<div class="table_window" type="grouptoggle" group="group_overview" name="group_members" style="display:none;">
		<div class="table_50_outer">
		
			{# Available Members #}
			<div class="table_50">
				<div class="table_panel_title">Available</div>
				<div class="table_sortable_inner" id="group_members_available">
					{% for user in users %}
						{% if not user.username in groups.members %}
							<div class="table_sortable_item" type="button" action="method" target="group.add_member" arg="{{ user.username }}" member="{{ user.username }}" available>
								<div class="table_sortable_text">
									<div class="table_sortable_text">{{ user.username }}</div>
								</div>
								<div class="table_sortable_icon" icon="add"></div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			
			{# Managed Members #}
			<div class="table_50">
				<div class="table_panel_title">Managed</div>
				<div class="table_sortable_inner" id="group_members_managed">
					{% for user in users %}
						{% if user.username in groups.members %}
							<div class="table_sortable_item" type="button" action="method" target="group.remove_member" arg="{{ user.username }}"  member="{{ user.username }}" managed>
								<div class="table_sortable_text">
									<div class="table_sortable_text">{{ user.username }}</div>
								</div>
								<div class="table_sortable_icon" icon="remove"></div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
