<div class="table" type="table" target="ip_blocks" id="ip_block_list_table">
	<div class="table_title" id="ip_block_list_title">
		<div class="table_title_label">Network IPv6 Blocks</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="popup" target="ip_block.create">Create</div>
			<div class="table_action" type="button" action="method" target="ip_block.delete" require="input[type$='radio'][name$='ip_block_uuid']:checked">Delete</div>
		</div>
	</div>
	<input type="hidden" name="protocol" value="ipv6">
	<div class="table_headers" table="ip_block_list">
		<div class="table_select_header"></div>
		<div class="table_header table_header_md" col="ip_block_network">Network</div>
		<div class="table_header table_header_md" col="ip_block_prefix">Prefix</div>
		<div class="table_header table_header_md" col="ip_block_desc">Description</div>
		<div class="table_header table_header_md" col="ip_block_uuid">UUID</div>
		<div class="table_header table_header_md" col="ip_block_datacenter">Datacenter</div>
		<div class="table_header table_header_md" col="ip_block_router">Router</div>
		<div class="table_header table_header_md" col="ip_block_active">Active</div>
		<div class="table_header table_header_md" col="ip_block_locked">Locked</div>
	</div>
	<div type="rows" table="ip_block_list">
		<input type="hidden" name="ip_block_uuid" value="">
		{% for block in blocks.all %}
		<div class="table_row" type="row" target="ip_blocks" block="{{ block.uuid }}">
			<div class="table_select_col">
				<input type="radio" name="ip_block_uuid" value="{{ block.uuid }}" action="update">
			</div>
			<div class="table_col table_link" type="button" action="link" target="network?panel=ipv6blocks&block={{ block.uuid }}" col="ip_block_network">{{ block.network }}</div>
			<div class="table_col" col="ip_block_prefix">{{ block.prefix }}</div>
			<div class="table_col" col="ip_block_desc">{{ block.desc }}</div>
			<div class="table_col" col="ip_block_uuid">{{ block.uuid }}</div>
			
			{# IP Block Datacenter #}
			{% if block.datacenter %}
				<div class="table_col table_link" col="ip_block_datacenter" type="button" action="link" target="admin?panel=datacenters&datacenter={{ block.datacenter.uuid }}">{{ block.datacenter.name }}</div>
			{% else %}
				<div class="table_col" col="ip_block_datacenter"></div>
			{% endif %}
			
			{# IP Block Router #}
			{% if block.router %}
				<div class="table_col table_link" type="button" action="link" target="network?panel=routers&router={{ block.router.uuid }}" col="ip_block_router">{{ block.router.name }}</div>
			{% else %}
				<div class="table_col" col="ip_block_router"></div>
			{% endif %}
			<div class="table_col" col="ip_block_active">{{ block.active }}</div>
			<div class="table_col" col="ip_block_locked">{{ block.locked }}</div>
		</div>
		{% endfor %}
	</div>
</div>
