<div class="table" type="table" target="acl_keys" id="acl_list_table">
	<div class="table_title" id="acl_list_title">
		<div class="table_title_label">ACL Keys</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="popup" target="acl.create">Create</div>
			<div class="table_action" type="button" action="popup" target="acl.delete" require="input[type='radio'][name='acl_uuid']:checked">Delete</div>
		</div>
	</div>
	<div class="table_headers" table="acl_list">
		<div class="table_select_header"></div>
		<div class="table_header table_header_md" col="acl_name">Name</div>
		<div class="table_header table_header_md" col="acl_uuid" >UUID</div>
		<div class="table_header table_header_md" col="acl_desc">Description</div>
		<div class="table_header table_header_md" col="acl_global">Global Access</div>
		<div class="table_header table_header_md" col="acl_object">Object Access</div>
	</div>
	<div type="rows" table="acl_list">
		{% for acl in acls.all %}
			<div class="table_row" type="row" target="acl" acl="{{ acl.uuid }}">
				<div class="table_select_col">
					<input type="radio" name="acl_uuid" value="{{ acl.uuid }}" action="update">
				</div>
				<div class="table_col table_link" type="button" action="link" target="admin?panel=acls&acl={{ acl.uuid }}" col="acl_name">{{ acl.name }}</div>
				<div class="table_col" col="acl_uuid">{{ acl.uuid }}</div>
				<div class="table_col" col="acl_desc">{{ acl.desc }}</div>
				{% if acl.type_global == True %}
					<div class="table_col" col="acl_global">Yes</div>
				{% else %}
					<div class="table_col" col="acl_global">No</div>
				{% endif %}
				{% if acl.type_object == True %}
					<div class="table_col" col="acl_object">Yes</div>
				{% else %}
					<div class="table_col" col="acl_object">No</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>