{# Common Template Tags #}
{% load common %}

<!DOCTYPE html>
<html>
	<head>
	
		{# Page Title #}
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		
		{# Static Content #}
		{% load staticfiles %}
		
		{# Global CSS #}
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/vendor/jquery-ui-1.11.4.css" %}">
		
		{# Favicon #}
		<link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon" />
		
		{# Page Specific CSS #}
		{% block css %}{% endblock %}
		
		{# API Parameters #}
		<script id="api_params" type="text/javascript">
			{% if USER.is_authenticated %}
				api_params = { 
					{% for key, val in API.iteritems %}
						{{ key }}: {% py2js val %}, 
					{% endfor %}
				};
			{% endif %}
		</script>
		
		{# Global Objects #}
		<script type="text/javascript" id="js_global">
			{% if USER.is_authenticated %}
				var cs_global = {};
			{% endif %}
		</script>
	</head>
	<body path="{{ REQUEST.path }}">
		
		{# Authenticated Requests #}
		{% if USER.is_authenticated %}
		
			{# Base Window #}
			<div class="base_window">
				
				{# Global Navigation Block #}
				{% block nav %}
					<div class="base_nav">
						<div class="base_nav_left">
							<div class="base_nav_button_left" type="button" action="link" target="home" >Home</div>
							{% if USER.is_admin %}
								<div class="base_nav_button_left" type="hover" action="menutoggle" target="menu_admin">Admin</div>
							{% endif %}
						</div>
						<div class="base_nav_right">
							<div class="base_nav_button_right nav_profile_button">
								<div class="nav_profile_username" type="button" action="toggle" target="menu_profile">{{ USER.name }}</div>
								<div class="nav_profile_icon" type="button" action="toggle" target="menu_profile"></div>
							</div>
							<div class="base_nav_active_group">
								<form id="change_group_form" action="/auth" method="post">
									<select id="active_group" name="group">
										{% for api_group in USER.groups %}
											{% if api_group.uuid == API.params.group %}
												<option value="{{ api_group.uuid }}" selected="selected">Active Group: {{ api_group.name }}</option>
											{% else %}
												<option value="{{ api_group.uuid }}">{{ api_group.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
									{% csrf_token %}
									<input type="hidden" name="action" value="change_group" />
									<input type="hidden" name="redirect" value="{{ REQUEST.current }}" />
								</form>
							</div>
							<div class="base_nav_finder">
								<input type="text" name="finder" id="finder" value="Shift+F to search..."></input>
							</div>
						</div>
					</div>
					
					{# Logout Form #}
					<form id="logout_form" action="/auth" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="logout" />
					</form>
					
					{# Navigation Dropdowns #}
					{% if USER.is_admin %}
						{% include "core/menu/admin.html" %}
					{% endif %}
					{% include "core/menu/profile.html" %}
				{% endblock %}
				
				{# Page Content Block #}
				<div class="content_window">
					{% block window %}{% endblock %}
				</div>
				
				{# Alert Box Window #}
				<div id="alert_box_container"></div>
				
				{# Popup Windows #}
				<div class="popups">
					<div class="popups_bg" type="button" action="fadeout" target=".popups,.popup_content"></div>
					<div class="popups_container" resizable>
						{% block popups %}{% endblock %}
					</div>
				</div>
				
				{# Loading Window #}
				<div class="loading">
					<div class="loading_bg"></div>
					<div class="loading_content">
						<div class="loading_text">Loading, please wait...</div>
					</div>
				</div>
			</div>
			
			{# Finder Results Window #}
			<div id="finder_results">
				<div class="finder_content"></div>
			</div>
			
		{# Authentication Requests #}
		{% else %}
		
			{# Window Content #}
			{% block auth %}{% endblock %}
		{% endif %}
		
		{# JavaScript #}
		<div id="scripts">
		
			{# jQuery/Plugins #}
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery-2.1.0.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery-ui-1.11.4.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery.actual.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/vendor/cookie.js" %}"></script>
			
			{# SocketIO #}
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
			
			{# ACE #}
			<script type="text/javascript" src="{% static "js/vendor/ace/ace.js" %}"></script>
			
			{# Autoload #}
			<script type="text/javascript" src="{% static "js/lense/prototype.js" %}"></script>
			<script type="text/javascript" src="{% static "js/lense/exceptions.js" %}"></script>
			<script type="text/javascript" src="{% static "js/lense/utils.js" %}"></script>
			<script type="text/javascript" src="{% static "js/lense/core.js" %}"></script>
			
			{# Module Includes #}
			<script type="text/javascript">{{ INTERFACE.includes.js }}</script>
			
			{# Page Specific JavaScript #}
			{% block js %}{% endblock %}
		</div>
	</body>
</html>