{% if 'action' in field_obj %}
	<bind event="{{ field_obj.action.bind.event }}" select="{{ field_obj.action.bind.select}}">
		<trigger id="{{ field_obj.action.trigger.id }}" type="{{ field_obj.action.trigger.type }}">
			{% for pk,pf in field_obj.action.trigger.params.iteritems %}
				<param key="{{ pk }}" filter="{{ pf }}">
			{% endfor %}
			{% for ck,cv in field_obj.action.trigger.cbargs.iteritems %}
				<cbarg key="{{ ck }}" value="{{ cv }}">
			{% endfor %}
		</trigger>
	</bind>
{% endif %}