{% if field_obj.type == 'select_group' %}
	<div class="formula_field">
		<div class="formula_field_label">{{ field_obj.label }}</div>
		<div class="formula_field_desc">{{ field_obj.desc }}</div>
		<div class="formula_field_input">
			<div class="dropdown_menu" type="dropdown" target="menu" name="group_uuid">
				<div class="dropdown_action">
					<div class="dropdown_button" type="button" action="toggle" target="group_uuid"></div>
					<div class="dropdown_value" type="dropdown" target="group_uuid">Please select a group...</div>
				</div>
				<div class="form_input_icon_def" type="icon" form="run_formula" name="group_uuid"></div>
			</div>
			<div class="dropdown_items" type="toggle" name="group_uuid">
				{% for group in formula_groups %}
					<option value="{{ group.uuid }}" class="formula_select_option">{{ group.name }}</option>
					<div class="dropdown_item" type="button" action="dropdown" value="{{ group.uuid }}" label="{{ group.name }}" target="group_uuid">{{ group.name }}</div>
				{% endfor %}
			</div>
			<input type="hidden" form="run_formula" name="group_uuid" value="" required />
		</div>
	</div>
{% endif %}