{% if field_obj.type == 'select' %}
	<div class="formula_field">
		<div class="formula_field_label">{{ field_obj.label }}</div>
		<div class="formula_field_desc">{{ field_obj.desc }}</div>
		<div class="formula_field_input">
			<div class="dropdown_menu" type="dropdown" target="menu" name="{{ field_obj.name }}">
				{% with default=field_obj.default %}
					<div class="dropdown_action">
						<div class="dropdown_button" type="button" action="toggle" target="{{ field_obj.name }}"></div>
						<div class="dropdown_value" type="dropdown" target="{{ field_obj.name }}">Please select an option...</div>
					</div>
					<div class="form_input_icon_def" type="icon" form="run_formula" name="{{ field_obj.name }}"></div>
					{% if field_obj.required == True %}
						<input type="hidden" form="run_formula" name="{{ field_obj.name }}" value="" required>
					{% else %}
						<input type="hidden" form="run_formula" name="{{ field_obj.name }}" value="">
					{% endif %}
				{% endwith %}
			</div>
			<div class="dropdown_items" type="toggle" name="{{ field_obj.name }}">
				{% for opt_set in field_obj.options %}
					<div class="dropdown_item" type="button" action="dropdown" value="{{ opt_set.value }}" label="{{ opt_set.label }}" target="{{ field_obj.name }}">{{ opt_set.label }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}