{% if field_obj.type == 'text' or field_obj.type == 'password' %}
	<div class="formula_field">
		<div class="formula_field_label">{{ field_obj.label }}</div>
		<div class="formula_field_desc">{{ field_obj.desc }}</div>
		<div class="formula_field_input">
			{% with validate=field_obj.validate %}
				{% if field_obj.required == True %}
					<input class="formula_field_text" form="run_formula" validate="{{ validate }}" type="{{ field_obj.type }}" name="{{ field_obj.name }}" value="{{ field_obj.default }}" required>
				{% else %}
					<input class="formula_field_text" form="run_formula" validate="{{ validate }}" type="{{ field_obj.type }}" name="{{ field_obj.name }}" value="{{ field_obj.default }}">
				{% endif %}
				<div class="form_input_icon_def" type="icon" form="run_formula" name="{{ field_obj.name }}"></div>
			{% endwith %}
		</div>
	</div>
{% endif %}