<div class="table_row" formula="{{ formula.uuid }}">
	<div class="table_select_col">
		<input type="radio" name="formula_uuid" action="update" value="{{ formula.uuid }}">
	</div>
	<div class="table_col table_link" col="formula_name" type="button" action="link" target="formula?panel=details&formula={{ formula.uuid }}">{{ formula.name }}</div>
	<div class="table_col" col="formula_label">{{ formula.label }}</div>
	<div class="table_col" col="formula_requires">{{ formula.manfiest.formula.requires|join:', ' }}</div>
	{% if formula.locked = 'True' %}
		<div class="table_col" col="formula_edit_lock">{{ formula.locked_by }}</div>
	{% else %}
		<div class="table_col" col="formula_edit_lock"></div>
	{% endif %}
	<div class="table_col" col="formula_type">{{ formula.type }}</div>
	{% if formula.internal = 'True' %}
		<div class="table_col" col="formula_internal" formula="{{ formula.formula_id }}" internal="yes">Yes</div>
	{% else %}
		<div class="table_col" col="formula_internal" formula="{{ formula.formula_id }}" internal="no">No</div>
	{% endif %}
</div>