<div class="nav_dropdown_wrapper" type="menutoggle" name="menu_api" parent="div[type$='hover'][target$='menu_api']" style="display:none;">
	<div class="nav_dropdown_over"></div>
	<div class="nav_dropdown_outer">
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="api?panel=connectors">
				<div class="nav_dropdown_label" type="button" action="link" target="api?panel=connectors">Connectors</div>
				<div class="nav_dropdown_icon nav_icon_users" type="button" action="link" target="api?panel=connectors"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="api?panel=integrators">
				<div class="nav_dropdown_label" type="button" action="link" target="api?panel=integrators">Integrators</div>
				<div class="nav_dropdown_icon nav_icon_users" type="button" action="link" target="api?panel=integrators"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="api?panel=callbacks">
				<div class="nav_dropdown_label" type="button" action="link" target="api?panel=callbacks">Callbacks</div>
				<div class="nav_dropdown_icon nav_icon_users" type="button" action="link" target="api?panel=callbacks"></div>
			</div>
		</div>
	</div>
</div>