<div class="nav_dropdown_wrapper" type="menutoggle" name="menu_apim" parent="div[type$='hover'][target$='menu_apim']" style="display:none;">
	<div class="nav_dropdown_over"></div>
	<div class="nav_dropdown_outer">
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="apim?panel=connectors">
				<div class="nav_dropdown_label" type="button" action="link" target="apim?panel=connectors">Connectors</div>
				<div class="nav_dropdown_icon nav_icon_connector" type="button" action="link" target="apim?panel=connectors"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="apim?panel=integrators">
				<div class="nav_dropdown_label" type="button" action="link" target="apim?panel=integrators">Integrators</div>
				<div class="nav_dropdown_icon nav_icon_integrator" type="button" action="link" target="apim?panel=integrators"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="apim?panel=callbacks">
				<div class="nav_dropdown_label" type="button" action="link" target="apim?panel=callbacks">Callbacks</div>
				<div class="nav_dropdown_icon nav_icon_callback" type="button" action="link" target="apim?panel=callbacks"></div>
			</div>
		</div>
	</div>
</div>