<div class="nav_profile_wrapper" type="toggle" name="menu_profile" style="display:none;">
	<div class="nav_profile_ptr_wrapper">
		<div class="nav_profile_ptr"></div>
	</div>
	<div class="nav_profile_content">
		<div class="nav_profile_user_details">
			<div class="nav_profile_user_row">
				<div class="nav_profile_user_label" col="profile_label">Username</div>
				<div class="nav_profile_user_text">{{ USER.name }}</div>
			</div>
			<div class="nav_profile_user_row">
				<div class="nav_profile_user_label" col="profile_label">Email</div>
				<div class="nav_profile_user_text">{{ USER.email }}</div>
			</div>
		</div>
		<div class="nav_profile_api_key">
			<div class="nav_profile_api_key_label">API Key</div>
			<div class="nav_profile_api_key_value">
				<div class="nav_profile_api_key_toggle" state="show"></div>
				<input type="password" value="{{ API.key }}" name="api_key">
			</div>
		</div>
		<div class="nav_profile_logout" type="button" action="submit" target="#logout_form">Logout</div>
	</div>
</div>