<div class="nav_dropdown_wrapper" type="menutoggle" name="menu_admin" parent="div[type$='hover'][target$='menu_admin']" style="display:none;">
	<div class="nav_dropdown_over"></div>
	<div class="nav_dropdown_outer">
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=users">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=users">Users</div>
				<div class="nav_dropdown_icon nav_icon_users" type="button" action="link" target="admin?panel=users"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=groups">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=groups">Groups</div>
				<div class="nav_dropdown_icon nav_icon_groups" type="button" action="link" target="admin?panel=groups"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=acls">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=acls">ACLs</div>
				<div class="nav_dropdown_icon nav_icon_permissions" type="button" action="link" target="admin?panel=acls"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=utilities">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=utilities">Utilities</div>
				<div class="nav_dropdown_icon nav_icon_endpoints" type="button" action="link" target="admin?panel=utilities"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=objects">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=objects">Objects</div>
				<div class="nav_dropdown_icon nav_icon_objects" type="button" action="link" target="admin?panel=objects"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="admin?panel=datacenters">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=datacenters">Datacenters</div>
				<div class="nav_dropdown_icon nav_icon_datacenters" type="button" action="link" target="admin?panel=datacenters"></div>
			</div>
		</div>
	</div>
</div>