<div class="nav_dropdown_wrapper" type="menutoggle" name="menu_hosts" parent="div[type$='hover'][target$='menu_hosts']" style="display:none;">
	<div class="nav_dropdown_over"></div>
	<div class="nav_dropdown_outer">
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="hosts?panel=list">
				<div class="nav_dropdown_label" type="button" action="link" target="hosts?panel=list">List</div>
				<div class="nav_dropdown_icon nav_icon_hosts_list" type="button" action="link" target="hosts?panel=list"></div>
			</div>
			<div class="nav_dropdown_item" type="button" action="link" target="hosts?panel=groups">
				<div class="nav_dropdown_label" type="button" action="link" target="hosts?panel=groups">Groups</div>
				<div class="nav_dropdown_icon nav_icon_hosts_groups" type="button" action="link" target="hosts?panel=groups"></div>
			</div>
		</div>
	</div>
</div>