<div class="nav_dropdown_wrapper" type="menutoggle" name="menu_network" parent="div[type$='hover'][target$='menu_network']" style="display:none;">
	<div class="nav_dropdown_over"></div>
	<div class="nav_dropdown_outer">
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=overview">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=overview">Overview</div>
				<div class="nav_dropdown_icon nav_icon_network" type="button" action="link" target="network?panel=overview"></div>
			</div>
		</div>
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=routers">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=routers">Routers</div>
				<div class="nav_dropdown_icon nav_icon_routers" type="button" action="link" target="network?panel=routers"></div>
			</div>
		</div>
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=switches">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=switches">Switches</div>
				<div class="nav_dropdown_icon nav_icon_switches" type="button" action="link" target="network?panel=switches"></div>
			</div>
		</div>
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=ipv4blocks">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=ipv4blocks">IPv4 Blocks</div>
				<div class="nav_dropdown_icon nav_icon_ipv4" type="button" action="link" target="network?panel=ipv4blocks"></div>
			</div>
		</div>
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=ipv6blocks">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=ipv6blocks">IPv6 Blocks</div>
				<div class="nav_dropdown_icon nav_icon_ipv6" type="button" action="link" target="network?panel=ipv6blocks"></div>
			</div>
		</div>
		<div class="nav_dropdown_inner">
			<div class="nav_dropdown_item" type="button" action="link" target="network?panel=vlans">
				<div class="nav_dropdown_label" type="button" action="link" target="admin?panel=vlans">VLANs</div>
				<div class="nav_dropdown_icon nav_icon_vlans" type="button" action="link" target="network?panel=vlans"></div>
			</div>
		</div>
	</div>
</div>