<div class="hgroup_edit">
	<div class="page_header_box">
		<div class="page_title">{{ hgroups.detail.name }} - Host Group Properties</div>
	</div>
	<script id="load_metadata">
		{% if hgroups.detail.metadata %}
			var metadata = {{ hgroups.detail.metadata|safe }};
		{% else %}
			var metadata = undefined;
		{% endif %}
	</script>
	<div class="editor_frame" style="float:left;opacity:0.0;">
		<div class="table_editor">
			<div class="table_title">
				<div class="table_actions">
					<div class="table_action_active" type="button" action="grouptoggle" group="hgroup_details" target="hgroup_hosts">Hosts</div>
					<div class="table_action" type="button" action="grouptoggle" group="hgroup_details" target="hgroup_metadata">Metadata</div>
				</div>
			</div>
			
			{# Host Group Metadata #}
			<div class="table_window" type="grouptoggle" group="hgroup_details" name="hgroup_metadata" style="display:none;">
				<div class="editor" id="hgroup_metadata"></div>
			</div>
			
			{# Member Hosts #}
			<div class="table_window" type="grouptoggle" group="hgroup_details" name="hgroup_hosts">
				<div class="table_50_outer">
					<div class="table_50_editor">
						<div class="table_title_inner">Available</div>
						<div class="table_sortable_inner" id="hgroup_members_available">
							{% for host in hosts %}
								{% if not host.uuid in hgroups.detail.members.ids %}
									<div class="table_sortable_item" type="hgroup_members" member="{{ host.uuid }}" available>
										<div class="table_sortable_text">
											<div class="table_sortable_member_icon" type="{{ host.os_type }}"></div>
											<div class="table_sortable_member_name" col="hgroup_member">{{ host.name }}</div>
											<div class="table_sortable_member_datacenter" col="hgroup_datacenter">
												{% for datacenter in datacenters %}
													{% if datacenter.uuid == host.datacenter %}
														{{ datacenter.name }}
													{% endif %}
												{% endfor %}
											</div>
											<div class="table_sortable_member_ip" col="hgroup_ip">{{ host.ip }}</div>
											<div class="table_sortable_member_label">{{ host.sys.os.distro }} {{ host.sys.os.version }} {{ host.sys.os.arch }}</div>
										</div>
										<div class="table_sortable_icon" icon="add" editing="no"></div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="table_50_editor">
						<div class="table_title_inner">Members</div>
						<div class="table_sortable_inner" id="hgroup_members_managed">
							{% for member in hgroups.detail.members.details %}
								<div class="table_sortable_item" type="hgroup_members" member="{{ member.uuid }}" managed>
									<div class="table_sortable_text">
										<div class="table_sortable_member_icon" type="{{ member.os_type }}"></div>
										<div class="table_sortable_member_name" col="hgroup_member">{{ member.name }}</div>
										<div class="table_sortable_member_datacenter" col="hgroup_datacenter">
											{% for datacenter in datacenters %}
												{% if datacenter.uuid == host.datacenter %}
													{{ datacenter.name }}
												{% endif %}
											{% endfor %}
										</div>
										<div class="table_sortable_member_ip" col="hgroup_ip">{{ member.ip }}</div>
										<div class="table_sortable_member_label">{{ member.distro }} {{ member.version }} {{ member.arch }}</div>
									</div>
									<div class="table_sortable_icon" icon="remove" editing="no"></div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar" style="opacity:0.0;">
		<form id="edit_hgroup">
			<div class="sidebar_group">
				<div class="sidebar_group_title">Host Group Details</div>
				<div class="sidebar_group_content">
				
					{# Host Group Actions #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_action" type="button" active="yes" action="method" target="hgroup.edit">Edit</div>
						<div class="sidebar_group_action" type="button" active="no" action="method" target="hgroup.save" style="display:none;">Save</div>
					</div>
					
					{# Host Group Name #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Name:</div>
						<div class="sidebar_group_detail_input">
							<input type="text" form="edit_hgroup" name="name" value="{{ hgroups.detail.name }}" disabled="" noreset/>
						</div>
					</div>
					
					{# Host Group Formula #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Parent Formula:</div>
						<div class="sidebar_group_detail_input">
							<select name="formula" form="edit_hgroup" disabled="">
								{% if not hgroups.detail.formula %}
									<option value="none" selected="selected">-none-</option>
								{% else %}
									<option value="none">-none-</option>
								{% endif %}
								{% for formula in formulas %}
									{% if formula.type == 'group' %}
										{% if formula.uuid == hgroup_detail.formula %}
											<option value="{{ formula.uuid }}" selected="selected">{{ formula.name }}</option>
										{% else %}
											<option value="{{ formula.uuid }}">{{ formula.name }}</option>
										{% endif %}
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			
			{# Edit Mode #}
			<input type="hidden" name="edit" value="no" noreset>
			
			{# Host Group UUID Form Value #}
			<input type="hidden" name="hgroup_uuid" value="{{ hgroups.detail.uuid }}" noreset>
		</form>
	</div>
</div>