{% for utility in utilities %}
	{% for type,object in acl.utilities.iteritems %}
		{% if type == 'global' or type == 'object' %}
			<div class="popup_content" type="popup" target="{{ acl.uuid }}_{{ type }}_endpoints">
				<div class="popup_title">ACL Utilities: {{ acl.name }}</div>
				<div class="popup_rows">
					<div class="popup_row_header">ACL Details</div>
					<div class="popup_row">
						<div class="popup_row_label">Access Type</div>
						<div class="popup_row_text">{{ type }}</div>
					</div>
					{% if type == 'object' %}
						<div class="popup_row">
							<div class="popup_row_label">Object Type</div>
							<div class="popup_row_text">{{ object.type }}</div>
						</div>
					{% endif %}
					<div class="popup_row_header">Managed Utilities</div>
						{% for utility in object.list %}
							<div class="popup_row">{{ utility.name }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endfor %}