<div class="table" type="table" target="groups">
	<div class="table_title">
		<div class="table_title_label">Groups</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="popup" target="group.create">Create</div>
			<div class="table_action" type="button" action="popup" target="group.delete" require="input[type$='radio'][name$='select_group']:checked">Delete</div>
		</div>
	</div>
	<div class="table_headers">
		<div class="table_select_header"></div>
		<div class="table_header table_header_md" col="group_name">Name</div>
		<div class="table_header table_header_md" col="group_desc">Description</div>
		<div class="table_header table_header_md" col="group_protected">Protected</div>
	</div>
	<div type="rows" target="groups">
		<input type="hidden" name="select_group" value="" />
		{% for group in groups.all %}
		<div class="table_row" type="row" target="groups" group="{{ group.uuid }}">
			<div class="table_select_col">
				<input type="radio" name="select_group" value="{{ group.uuid }}" action="update" />
			</div>
			<div class="table_col table_link" col="group_name" type="button" action="link" target="admin?panel=groups&group={{ group.uuid }}">{{ group.name }}</div>
			<div class="table_col" col="group_desc">{{ group.desc }}</div>
			<div class="table_col" col="group_protected">
				{% if group.protected %}
					Yes
				{% else %}
					No
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
