<div class="table_50" type="table" target="group_details" style="opacity:0.0;">
	<div class="table_title">
		<div class="table_title_label">Permissions</div>
		<div class="table_actions">
		
			{# Group Permission Panels #}
			{% for acl_obj in acls.objects %}
				<div class="table_action" type="button" action="grouptoggle" group="group_permissions" target="group_{{ acl_obj.type }}">{{ acl_obj.name}}s</div>
			{% endfor %}
			<div class="table_action_active" type="button" action="grouptoggle" group="group_permissions" target="group_global">Global</div>
		</div>
	</div>
	
	{# Global Permissions #}
	<div class="table_window" type="grouptoggle" group="group_permissions" name="group_global">
		<div class="table_panel_title">Global Permissions</div>
		<div class="table_headers" table="acl_list">
			<div class="table_header table_header_md" col="global_perm_enabled">Enabled</div>
			<div class="table_header table_header_md" col="global_perm_acl">ACL</div>
			<div class="table_header table_header_md" col="global_perm_desc" >Description</div>
			<div class="table_header table_header_md" col="global_perm_allowed">Allowed</div>
		</div>
		<div class="table_rows" type="table" name="group_global">
			{% for acl in acls.all %}
				{% if acl.type_global %}
					<div class="table_row" type="global" acl="{{ acl.uuid }}">
						<div class="table_col" col="global_perm_enabled">
							{% if acl.uuid in groups.permissions.global %}
								<input type="checkbox" name="acl_toggle" acl_type="global" acl_uuid="{{ acl.uuid }}" value="" checked>
							{% else %}
								<input type="checkbox" name="acl_toggle" acl_type="global" acl_uuid="{{ acl.uuid }}" value="">
							{% endif %}
						</div>
						<div class="table_col table_link" col="global_perm_acl" type="button" action="popup" target="{{ acl.uuid }}_global_endpoints">{{ acl.name }}</div>
						<div class="table_col" col="global_perm_desc">{{ acl.desc }}</div>
						<div class="table_col" col="global_perm_allowed">
							{% if acl.uuid in groups.permissions.global %}
								<select name="acl_allow" acl_type="global" acl_uuid="{{ acl.uuid }}">
									{% for permission in groups.detail.permissions.global %}
										{% if permission.uuid == acl.uuid %}
											{% if permission.allowed == 'yes' %}
												<option value="yes" selected>Yes</option>
												<option value="no">No</option>
											{% else %}
												<option value="yes">Yes</option>
												<option value="no" selected>No</option>
											{% endif %}
										{% endif %}
									{% endfor %}
								</select>
							{% else %}
								<select name="acl_allow" acl_type="global" acl_uuid="{{ acl.uuid }}" disabled>
									<option value="yes">Yes</option>
									<option value="no" selected>No</option>
								</select>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<input type="hidden" name="global_perm_select"/>
	</div>
	
	{# Object Permissions #}
	{% for acl_obj in acls.objects %}
		<div class="table_window" type="grouptoggle" group="group_permissions" name="group_{{ acl_obj.type }}" style="display:none;">
			<div class="table_panel_title">{{ acl_obj.name }} Permissions</div>
			<div class="table_rows" type="table" name="group_{{ acl_obj.type }}">
				
				{# Get the current object permissions #}
				{% for obj_key, obj_permissions in groups.permissions.object.iteritems %}
					{% if obj_key == acl_obj.type %}
						
						{# Load each object #}
						{% for obj in acl_obj.objects %}
							<div class="table_row table_row_link" type="button" action="toggle" target="{{ obj.id }}_acls" {{ acl_obj.type }}="{{ obj.id }}">
							
								{# Set the enabled/disabled icon #}
								{% if obj.id in obj_permissions.ids %}
									<div class="table_col" col="object_enabled" object_id="{{ obj.id }}" enabled></div>
								{% else %}
									<div class="table_col" col="object_enabled" object_id="{{ obj.id }}" disabled></div>
								{% endif %}
								
								{# Object name/label #}
								<div class="table_col" col="object_host_perm_name">{{ obj.name }}</div>
								<div class="table_col" col="object_host_perm_label">{{ obj.label }}</div>
							</div>
							
							{# Object ACL rows #}
							<div class="table_row_group" style="display:none;" type="toggle" name="{{ obj.id }}_acls">
								<div class="table_headers table_headers_sub">
									<div class="table_header table_header_rg" col="object_perm_{{ acl_obj.type }}_enabled">Enabled</div>
									<div class="table_header table_header_rg" col="object_perm_{{ acl_obj.type }}_acl">ACL</div>
									<div class="table_header table_header_rg" col="object_perm_{{ acl_obj.type }}_allowed">Allowed</div>
								</div>
								{% for acl in acls.all %}
									{% if acl.type_object and acl.endpoints.object.type == acl_obj.type %}
										<div class="table_row table_row_sub">
										
											{# Set the enabled/disabled checkbox #}
											<div class="table_col" col="object_perm_{{ acl_obj.type }}_enabled">
												{% if not obj.id in obj_permissions.ids %}
													<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.id }}" acl_uuid="{{ acl.uuid }}" value="">
												{% else %}
													{% for obj_id, acl_ids in obj_permissions.ids.iteritems %}
														{% if obj_id == obj.id %}
															{% if acl.uuid in acl_ids %}
																<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.id }}" acl_uuid="{{ acl.uuid }}" value="" checked>
															{% else %}
																<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.id }}" acl_uuid="{{ acl.uuid }}" value="">
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
											<div class="table_col table_link" col="object_perm_{{ acl_obj.type }}_acl" type="button" action="popup" target="{{ acl.uuid }}_object_endpoints">{{ acl.name }}</div>
											
											{# Set the allowed dropdown #}
											<div class="table_col" col="object_perm_{{ acl_obj.type }}_allowed">
												{% if not obj.id in obj_permissions.ids %}
													<select name="acl_allow" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.id }}" acl_uuid="{{ acl.uuid }}" disabled>
														<option value="yes">Yes</option>
														<option value="no" selected>No</option>
													</select>
												{% else %}
													{% for obj_id, acl_ids in obj_permissions.ids.iteritems %}
														{% if obj_id == obj.id %}
															{% if not acl.uuid in acl_ids %}
																<select name="acl_allow" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.type }}" acl_uuid="{{ acl.uuid }}" disabled>
																	<option value="yes">Yes</option>
																	<option value="no" selected>No</option>
																</select>	
															{% else %}
																{% for permission in obj_permissions.details %}
																	{% if permission.object_id == obj_id and permission.acl_id == acl.uuid %}
																		<select name="acl_allow" acl_type="object" acl_object="{{ acl_obj.type }}" acl_object_id="{{ obj.id }}" acl_uuid="{{ acl.uuid }}">
																			{% if permission.allowed %}
																				<option value="yes" selected>Yes</option>
																				<option value="no">No</option>
																			{% else %}
																				<option value="yes">Yes</option>
																				<option value="no" selected>No</option>
																			{% endif %}
																		</select>
																	{% endif %}
																{% endfor %}
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	
	{# Host Permissions #}
	<div class="table_window" type="grouptoggle" group="group_permissions" name="test" style="display:none;">
		<div class="table_panel_title">Host Permissions</div>
		<div class="table_rows" type="table" name="group_hosts">
			{% for host in hosts %}
				<div class="table_row table_row_link" type="button" action="toggle" target="{{ host.uuid }}_acls" host="{{ host.uuid }}">
					{% if host.uuid in groups.permissions.object.host.ids %}
						<div class="table_col" col="object_enabled" uuid="{{ host.uuid }}" enabled></div>
					{% else %}
						<div class="table_col" col="object_enabled" uuid="{{ host.uuid }}" disabled></div>
					{% endif %}
					<div class="table_col table_link" col="object_host_perm_name" type="button" action="link" target="hosts?panel=details&host={{ host.uuid }}">{{ host.name }}</div>
					<div class="table_col" col="object_host_perm_ip">{{ host.ip }}</div>
					<div class="table_col" col="object_host_perm_label">{{ host.sys.os.distro }} {{ host.sys.os.version }} {{ host.sys.os.arch }}</div>
				</div>
				<div class="table_row_group" style="display:none;" type="toggle" name="{{ host.uuid }}_acls">
					<div class="table_headers table_headers_sub">
						<div class="table_header table_header_rg" col="object_perm_host_enabled">Enabled</div>
						<div class="table_header table_header_rg" col="object_perm_host_acl">ACL</div>
						<div class="table_header table_header_rg" col="object_perm_host_allowed">Allowed</div>
					</div>
					{% for acl in acls.all %}
						{% if acl.type_object and acl.endpoints.object.type == 'host' %}
							<div class="table_row table_row_sub">
								<div class="table_col" col="object_perm_host_enabled">
									{% if not host.uuid in groups.permissions.object.host.ids %}
										<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}" value="">
									{% else %}
										{% for host_id, acl_ids in groups.permissions.object.host.ids.iteritems %}
											{% if host_id == host.uuid %}
												{% if acl.uuid in acl_ids %}
													<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}" value="" checked>
												{% else %}
													<input type="checkbox" name="acl_toggle" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}" value="">
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
								<div class="table_col table_link" col="object_perm_host_acl" type="button" action="popup" target="{{ acl.uuid }}_object_endpoints">{{ acl.name }}</div>
								<div class="table_col" col="object_perm_host_allowed">
									{% if not host.uuid in groups.permissions.object.host.ids %}
										<select name="acl_allow" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}" disabled>
											<option value="yes">Yes</option>
											<option value="no" selected>No</option>
										</select>
									{% else %}
										{% for host_id, acl_ids in groups.permissions.object.host.ids.iteritems %}
											{% if host_id == host.uuid %}
												{% if not acl.uuid in acl_ids %}
													<select name="acl_allow" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}" disabled>
														<option value="yes">Yes</option>
														<option value="no" selected>No</option>
													</select>	
												{% else %}
													{% for permission in groups.permissions.object.host.details %}
														{% if permission.host_id == host.uuid and permission.acl_id == acl.uuid %}
															<select name="acl_allow" acl_type="object" acl_object="host" acl_object_id="{{ host.uuid }}" acl_uuid="{{ acl.uuid }}">
																{% if permission.allowed %}
																	<option value="yes" selected>Yes</option>
																	<option value="no">No</option>
																{% else %}
																	<option value="yes">Yes</option>
																	<option value="no" selected>No</option>
																{% endif %}
															</select>
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
