{# Datacenter Overview #}
<div class="table_50">
	<div class="table_title">
		<div class="table_title_label">Datacenter: {{ datacenters.detail.name }}</div>
		<div class="table_actions">
			<div class="table_actions_jump">
				<div class="table_actions_jump_select">
					<select name="datacenter_jump">
						{% for datacenter in datacenters.all %}
							{% if datacenter.uuid == datacenters.detail.uuid %}
								<option value="{{ datacenter.uuid }}" selected="selected">{{ datacenter.name }}</option>
							{% else %}
								<option value="{{ datacenter.uuid }}" >{{ datacenter.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	
	{# Datacenter Details #}
	<div class="table_window">
		<div class="table_row">
			<div class="table_row_label">Name</div>
			<div class="table_row_text">{{ datacenters.detail.name }}</div>
		</div>
		<div class="table_row">
			<div class="table_row_label">Label</div>
			<div class="table_row_text">{{ datacenters.detail.label }}</div>
		</div>
		<div class="table_row">
			<div class="table_row_label">UUID</div>
			<div class="table_row_text">{{ datacenters.detail.uuid }}</div>
		</div>
	</div>
	
	{# Datacenter Hosts #}
	<div style="height:20px;"></div>
	<div class="table_title">
		<div class="table_title_label">Datacenter Hosts</div>
	</div>
	<div class="table_headers">
		<div class="table_header table_header_md" col="host_name">Name</div>
		<div class="table_header table_header_md" col="host_ip">IP</div>
		<div class="table_header table_header_md" col="host_distro">Distro</div>
		<div class="table_header table_header_md" col="host_type">Type</div>
		<div class="table_header table_header_md" col="host_agent">Agent Status</div>
		<div class="table_header table_header_md" col="host_agent_control">Control</div>
	</div>
	<div type="rows" target="hosts">
		{% for host in datacenters.hosts %}
		<div class="table_row" type="row" target="hosts" host="{{ host.uuid }}">
			<div class="table_col table_link" col="host_name" type="button" action="link" target="hosts?panel=details&host={{ host.uuid }}">{{ host.name }}</div>
			<div class="table_col" col="host_ip">{{ host.ip }}</div>
			<div class="table_col" col="host_distro">{{ host.sys.os.distro }} {{ host.sys.os.version}} {{ host.sys.os.arch }}</div>
			<div class="table_col" col="host_type">
				<img src="/portal/static/images/os_{{ host.os_type }}.png"/>
			</div>
			<div class="table_col" col="host_agent" type="agent.status" host="{{ host.uuid }}" state="{{ host.agent_status }}">{{ host.agent_status }}</div>
			<div class="table_col" col="host_agent_control" type="agent.control" host="{{ host.uuid }}" state="{{ host.agent_status }}">
				{% if host.agent_status == 'RUNNING' %}
					<div class="agent_control" action="start" active="no" host="{{ host.uuid }}"></div>
					<div class="agent_control" action="stop" active="yes" host="{{ host.uuid }}"></div>
					<div class="agent_control" action="restart" active="yes" host="{{ host.uuid }}"></div>
				{% else %}
					<div class="agent_control" action="start" active="yes" host="{{ host.uuid }}"></div>
					<div class="agent_control" action="stop" active="no" host="{{ host.uuid }}"></div>
					<div class="agent_control" action="restart" active="no" host="{{ host.uuid }}"></div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{# Datacenter Resource Usage #}
<div class="table_50" type="table" target="datacenter_resources">
	<div class="table_title">
		<div class="table_actions">
			<div class="table_action_active" type="button" action="grouptoggle" group="datacenter_stats" target="datacenter_resource">Resource Usage</div>
			<div class="table_action" type="button" action="grouptoggle" group="datacenter_stats" target="datacenter_io">Realtime I/O</div>
		</div>
	</div>
	<div class="table_panel_tmpl" style="height:1px;"></div>
	
	{# Resoure I/O: Network, Disk #}
	<div class="table_window" type="grouptoggle" group="datacenter_stats" name="datacenter_io" style="display:none;">
		<div class="table_row">
			<div class="table_row_title table_title_link" type="button" action="toggle" target="datacenter_netio">Network I/O</div>
			<div class="table_row_contents" type="toggle" name="datacenter_netio">
				<div class="table_line_chart" type="line_chart" name="datacenter_netio">
					<div class="table_line_chart_info" name="datacenter_netio">
						<div type="svg" name="datacenter_netio" id="datacenter_netio"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="table_row">
			<div class="table_row_title table_title_link" type="button" action="toggle" target="datacenter_diskio">Disk I/O</div>
			<div class="table_row_contents" type="toggle" name="datacenter_diskio">
				<div class="table_line_chart" type="line_chart" name="datacenter_diskio">
					<div class="table_line_chart_info" name="datacenter_diskio">
						<div type="svg" name="datacenter_diskio" id="datacenter_diskio"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{# Resource Usage: Memory, Disk, CPU #}
	<div class="table_window" type="grouptoggle" group="datacenter_stats" name="datacenter_resource">
		<div class="table_row">
			<div class="table_row_title table_title_link" type="button" action="toggle" target="datacenter_mem">Total Memory</div>
			<div class="table_row_contents" type="toggle" name="datacenter_mem">
				<div class="table_row_inner">
					<div class="table_row_inner_label">MB (Total)</div>
					<div class="table_row_inner_text" type="summary" name="mem_mbtotal">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">MB (Used)</div>
					<div class="table_row_inner_text" type="summary" name="mem_mbused">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">MB (Free)</div>
					<div class="table_row_inner_text" type="summary" name="mem_mbfree">0</div>
				</div>
				<div type="svg" class="table_cluster_stat_vis" name="datacenter_mem"></div>
			</div>
		</div>
		<div class="table_row">
			<div class="table_row_title table_title_link" type="button" action="toggle" target="datacenter_disk">Total Disk</div>
			<div class="table_row_contents" type="toggle" name="datacenter_disk">
				<div class="table_row_inner">
					<div class="table_row_inner_label">GB (Total)</div>
					<div class="table_row_inner_text" type="summary" name="disk_gbtotal">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">GB (Used)</div>
					<div class="table_row_inner_text" type="summary" name="disk_gbused">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">GB (Free)</div>
					<div class="table_row_inner_text" type="summary" name="disk_gbfree">0</div>
				</div>
				<div type="svg" class="table_cluster_stat_vis" name="datacenter_disk"></div>
			</div>
		</div>
		<div class="table_row">
			<div class="table_row_title table_title_link" type="button" action="toggle" target="datacenter_cpu">Total CPU</div>
			<div class="table_row_contents" type="toggle" name="datacenter_cpu">
				<div class="table_row_inner">
					<div class="table_row_inner_label">Cores (Total)</div>
					<div class="table_row_inner_text" type="summary" name="cpu_cores">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">GHz (Total)</div>
					<div class="table_row_inner_text" type="summary" name="cpu_ghztotal">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">GHz (Used)</div>
					<div class="table_row_inner_text" type="summary" name="cpu_ghzused">0</div>
				</div>
				<div class="table_row_inner">
					<div class="table_row_inner_label">GHz (Free)</div>
					<div class="table_row_inner_text" type="summary" name="cpu_ghzfree">0</div>
				</div>
				<div type="svg" class="table_cluster_stat_vis" name="datacenter_cpu"></div>
			</div>
		</div>
	</div>
</div>