<!DOCTYPE html>
<html>
	<head>
	
		{# Page Title #}
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		
		{# Static Content #}
		{% load staticfiles %}
		
		{# Global CSS #}
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/vendor/jquery-ui-1.10.4.css" %}">
		
		{# Page Specific CSS #}
		{% block css %}{% endblock %}
		
		{# API Parameters #}
		<script id="api_params" type="text/javascript">
			{% if authenticated %}
				api_params = { 
					{% for key, val in api_params.iteritems %}
						{{ key }}: '{{ val }}', 
					{% endfor %}
				};
			{% endif %}
		</script>
		
		{# Global Objects #}
		<script type="text/javascript" id="js_global">
			{% if authenticated %}
				var cs_global = {};
			{% endif %}
		</script>
	</head>
	<body>
		
		{# Authenticated Requests #}
		{% if authenticated %}
		
			{# Base Window #}
			<div class="base_window">
				
				{# Global Navigation Block #}
				{% block nav %}
					<div class="base_nav">
						<div class="base_nav_left">
							<div class="base_nav_button_left" type="button" action="link" target="home" >Home</div>
							<div class="base_nav_button_left" type="hover" action="menutoggle" target="menu_hosts">Hosts</div>
							<div class="base_nav_button_left" type="button" action="link" target="formula?panel=overview">Formulas</div>
							<div class="base_nav_button_left" type="hover" action="menutoggle" target="menu_admin">Admin</div>
						</div>
						<div class="base_nav_right">
							<div class="base_nav_button_right" type="button" action="submit" target="#logout_form">Logout</div>
							<div class="base_nav_active_group">
								<form id="change_group_form" action="/portal/auth" method="post">
									<select id="active_group" name="group">
										{% for api_group in api_params.groups %}
											{% if api_group.uuid == api_params.group %}
												<option value="{{ api_group.uuid }}" selected="selected">Active Group: {{ api_group.name }}</option>
											{% else %}
												<option value="{{ api_group.uuid }}">{{ api_group.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
									{% csrf_token %}
									<input type="hidden" name="action" value="change_group" />
									<input type="hidden" name="redirect" value="{{ request.current }}" />
								</form>
							</div>
							<div class="base_nav_finder">
								<input type="text" name="finder" id="finder" value="Shift+F to search..."></input>
							</div>
						</div>
					</div>
					
					{# Logout Form #}
					<form id="logout_form" action="/portal/auth" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="logout" />
					</form>
					
					{# Navigation Dropdowns #}
					{% include "core/menu/admin.html" %}
					{% include "core/menu/hosts.html" %}
				{% endblock %}
				
				{# Page Content Block #}
				<div class="content_window">
					{% block window %}{% endblock %}
				</div>
				
				{# Alert Box Window #}
				<div id="alert_box_container"></div>
				
				{# Popup Windows #}
				<div class="popups">
					<div class="popups_bg" type="button" action="fadeout" target=".popups,.popup_content"></div>
					<div class="popups_container" resizable>
						{% block popups %}{% endblock %}
					</div>
				</div>
				
				{# Loading Window #}
				<div class="loading">
					<div class="loading_bg"></div>
					<div class="loading_content">
						<div class="loading_text">Loading, please wait...</div>
					</div>
				</div>
			</div>
			
			{# Finder Results Window #}
			<div id="finder_results">
				<div class="finder_content"></div>
			</div>
			
		{# Authentication Requests #}
		{% else %}
		
			{# Window Content #}
			{% block auth %}{% endblock %}
		{% endif %}
		
		{# JavaScript #}
		<div id="scripts">
		
			{# jQuery/Plugins #}
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery-2.1.0.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery-ui-1.10.4.min.js" %}"></script>
			<script type="text/javascript" src="{% static "js/vendor/jquery/jquery.actual.min.js" %}"></script>
			
			{# SocketIO #}
			<script type="text/javascript" src="{% static "js/vendor/socket.io/socket.io.js" %}"></script>
			
			{# ACE #}
			<script type="text/javascript" src="{% static "js/vendor/ace/ace.js" %}"></script>
			
			{# D3JS #}
			<script type="text/javascript" src="{% static "js/vendor/d3/d3.min.js" %}"></script>
			
			{# Autoload #}
			<script type="text/javascript" src="{% static "js/cloudscape/prototype.js" %}"></script>
			<script type="text/javascript" src="{% static "js/cloudscape/exceptions.js" %}"></script>
			<script type="text/javascript" src="{% static "js/cloudscape/utils.js" %}"></script>
			<script type="text/javascript" src="{% static "js/cloudscape/core.js" %}"></script>
			<script type="text/javascript" src="{% static "js/cloudscape/include.js" %}"></script>
			
			{# Page Specific JavaScript #}
			{% block js %}{% endblock %}
		</div>
	</body>
</html>