{# Base Template #}
{% extends "base.html" %}

{# Static Files #}
{% load staticfiles %}

{# Page Title #}
{% block title %}{{ page.title }}{% endblock %}

{# CSS #}
{% block css %}
	{% for css in page.css %}
		{% with "css/"|add:css as css_path %}
			<link rel="stylesheet" type="text/css" href="{% static css_path %}">
		{% endwith %}
	{% endfor %}
{% endblock %}

{# JavaScript #}
{% block js %}
	{% for js in page.js %}
		{% with "js/"|add:css as js_path %}
			<script type="text/javascript" src="{% static js_path %}"></script>
		{% endwith %}
	{% endfor %}
{% endblock %}

{# Page Content #}
{% if authenticated %}
	{% block window %}
		{% if page.header %}
			<div class="page_header_box">
				<div class="page_title">{{ page.header }}</div>
			</div>
		{% endif %}
		{% for content in page.contents %}
			{% include content %}
		{% endfor %}
	{% endblock %}
{% endif %}

{# Authentication Content #}
{% if not authenticated %}
	{% block auth %}
		{% for content in page.contents %}
			{% include content %}
		{% endfor %}
	{% endblock %}
{% endif %}

{# Popup Windows #}
{% block popups %}
	{% for popup in page.popups %}
		{% include popup %}
	{% endfor %}
{% endblock %}