<div class="table_50">
	<div class="table_title">
		<div class="table_title_label">ACL Object: {{ acls.objects.detail.name }}</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="method" target="acl.edit_object" active="yes">Edit</div>
			<div class="table_action" type="button" action="method" target="acl.save_object" active="no" style="display:none;">Save</div>
		</div>
	</div>
	<div>
		<div class="table_rows">
			<div class="table_row">
				<div class="table_row_label">Type</div>
				<div class="table_row_text">{{ acls.objects.detail.type }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Name</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="name" value="{{ acls.objects.detail.name }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Authorization Module</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="acl_mod" value="{{ acls.objects.detail.acl_mod }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Authorization Class</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="acl_cls" value="{{ acls.objects.detail.acl_cls }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Authorization Key</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="acl_key" value="{{ acls.objects.detail.acl_key }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Object Module</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="obj_mod" value="{{ acls.objects.detail.obj_mod }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Object Class</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="obj_cls" value="{{ acls.objects.detail.obj_cls }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Object Key</div>
				<div class="table_row_input">
					<input type="text" form="edit_acl_object" name="obj_key" value="{{ acls.objects.detail.obj_key }}" disabled noreset/>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Default ACL</div>
				<div class="table_row_input">
					<select name="def_acl" form="edit_acl_object" disabled="">
						{% if acls.objects.detail.def_acl %}
							<option value="">-none-</option>
						{% else %}
							<option value="" selected="selected">-none-</option>
						{% endif %}
						{% for acl in acls.all %}
							{% if acl.uuid == acls.objects.detail.def_acl %}
								<option value="{{ acl.uuid }}" selected="selected">{{ acl.name }}</option>
							{% else %}
								<option value="{{ acl.uuid }}" >{{ acl.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
</div>