<div class="table" type="table" target="endpoints" id="endpoint_list_table">
	<div class="table_title" id="endpoint_list_title">
		<div class="table_title_label">API Endpoints</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="popup" target="endpoint.create">Create</div>
			<div class="table_action" type="button" action="popup" target="endpoint.delete" require="input[type$='radio'][name$='endpoint_uuid']:checked">Delete</div>
		</div>
	</div>
	<div class="table_headers" table="endpoint_list">
		<div class="table_select_header"></div>
		<div class="table_header table_header_md" col="ep_name">Name</div>
		<div class="table_header table_header_md" col="ep_path">Path</div>
		<div class="table_header table_header_md" col="ep_action">Action</div>
		<div class="table_header table_header_md" col="ep_method">Method</div>
		<div class="table_header table_header_md" col="ep_desc">Description</div>
		<div class="table_header table_header_md" col="ep_object">Object Type</div>
		<div class="table_header table_header_md" col="ep_protected">Protected</div>
		<div class="table_header table_header_md" col="ep_enabled">Enabled</div>
		<div class="table_header table_header_md" col="ep_enabled">Edit Lock</div>
	</div>
	<div type="rows" table="endpoint_list">
		{% for endpoint in endpoints.all %}
		<div class="table_row" type="row" target="endpoints" endpoint="{{ endpoint.uuid }}">
			<div class="table_select_col">
				<input type="radio" name="endpoint_uuid" value="{{ endpoint.uuid }}" action="update">
			</div>
			<div class="table_col table_link" type="button" action="link" target="admin?panel=endpoints&endpoint={{ endpoint.uuid }}" col="ep_name">{{ endpoint.name }}</div>
			<div class="table_col" col="ep_path">{{ endpoint.path }}</div>
			<div class="table_col" col="ep_action">{{ endpoint.action }}</div>
			<div class="table_col" col="ep_method">{{ endpoint.method }}</div>
			<div class="table_col" col="ep_desc">{{ endpoint.desc }}</div>
			{% if endpoint.object %}
				<div class="table_col" col="ep_object">{{ endpoint.object }}</div>
			{% else %}
				<div class="table_col" col="ep_object"></div>
			{% endif %}
			{% if endpoint.protected == True %}
				<div class="table_col" col="ep_protected">Yes</div>
			{% else %}
				<div class="table_col" col="ep_protected">No</div>
			{% endif %}
			{% if endpoint.enabled == True %}
				<div class="table_col" col="ep_enabled">Yes</div>
			{% else %}
				<div class="table_col" col="ep_enabled">No</div>
			{% endif %}
			{% if endpoint.locked == True %}
				<div class="table_col" col="ep_locked">{{ endpoint.locked_by }}</div>
			{% else %}
				<div class="table_col" col="ep_locked"></div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
