<!DOCTYPE html>
<html>
	<head>
		<title>Internal Server Error</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		
		{# Static Content #}
		{% load staticfiles %}
		
		{# Error CSS #}
		<link rel="stylesheet" type="text/css" href="{% static "css/error.css" %}">
		
	</head>
	<body>
		<div class="error_window">
			<div class="error_title">
				<div class="error_title_txt">Internal Server Error</div>
				<div class="error_title_icon"></div>
			</div>
			<div class="error_message">{{ error }}</div>
			{% if debug %}
				<div class="debug_message">
					<div class="debug_string">{{ debug.0 }}</div>
					<div class="debug_stack">
						{% for entry in debug.1 %}
							<div class="debug_stack_entry">
								<div class="debug_stack_location">{{ entry.0 }} at line {{ entry.1 }}: {{ entry.2 }}</div>
								<div class="debug_stack_text">{{ entry.3 }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</body>
</html>