<div class="acl_edit">
	<div class="page_header_box">
		<div class="page_title_actions">
			<div class="page_title_jump">
				<div class="page_jump_select">
					<select name="acl_jump">
						{% for acl in acls.all %}
							{% if acl.uuid == acls.uuid %}
								<option value="{{ acl.uuid }}" selected="selected">{{ acl.name }}</option>
							{% else %}
								<option value="{{ acl.uuid }}" >{{ acl.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="page_jump_label">Change ACL</div>
			</div>
		</div>
		<div class="page_title">{{ acls.detail.name }} - ACL Properties</div>
	</div>
	<div class="editor_frame" style="float:left;opacity:0.0;">
		<div class="table_editor">
			<div class="table_title">
				<div class="table_title_label">ACL Utilities</div>
				<div class="table_actions">
					<div class="table_action_active" type="button" action="grouptoggle" group="acl_utilities" target="acl_global">Global Endpoints</div>
					<div class="table_action" type="button" action="grouptoggle" group="acl_utilities" target="acl_object">Object Endpoints</div>
				</div>
			</div>
			
			{# Global Utilities #}
			<div class="table_window" type="grouptoggle" group="acl_utilities" name="acl_global" acl_type="global">
				<div class="table_panel_title">Global Utilities</div>
				<div class="table_50_outer">
					<div class="table_50_editor">
						<div class="table_title_inner">Available</div>
						<div class="table_sortable_inner" id="acl_global_available">
							{% for utility in utilities %}
								{% if not utility.uuid in acls.utilities.global %}
									<div class="table_sortable_item" type="acl_global" utility="{{ utility.uuid }}" available>
										<div class="table_sortable_text">
											<div class="table_sortable_utilname" col="utilname">{{ utility.name }}</div>
											<div class="table_sortable_utildesc">{{ utility.desc }}</div>
										</div>
										<div class="table_sortable_icon" icon="add" editing="no"></div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="table_50_editor">
						<div class="table_title_inner">Managed</div>
						<div class="table_sortable_inner" id="acl_global_managed">
							{% for utility in utilities %}
								{% if utility.uuid in acls.utilities.global %}
									<div class="table_sortable_item" type="acl_global" utility="{{ utility.uuid }}" managed>
										<div class="table_sortable_text">
											<div class="table_sortable_utilname" col="utilname">{{ utility.name }}</div>
											<div class="table_sortable_utildesc">{{ utility.desc }}</div>
										</div>
										<div class="table_sortable_icon" icon="remove" editing="no"></div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			
			{# Object Endpoints #}
			<div class="table_window" type="grouptoggle" group="acl_utilities" name="acl_object" acl_type="object" style="display:none;">
				<div class="table_panel_title">Object Endpoints</div>
				<div class="table_50_outer">
					<div class="table_50_editor">
						<div class="table_title_inner">Available</div>
						<div class="table_sortable_inner" id="acl_object_available">
							{% for utility in utilities %}
								{% if utility.object %}
									{% if not utility.uuid in acls.utilities.object %}
										<div class="table_sortable_item" type="acl_object" utility="{{ utility.uuid }}" available>
											<div class="table_sortable_text">
												<div class="table_sortable_utilname" col="utilname">{{ utility.name }}</div>
												<div class="table_sortable_utildesc">{{ utility.desc }}</div>
											</div>
											<div class="table_sortable_icon" icon="add" editing="no"></div>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="table_50_editor">
						<div class="table_title_inner">Managed</div>
						<div class="table_sortable_inner" id="acl_object_managed">
							{% for utility in utilities %}
								{% if utility.uuid in acls.utilities.object %}
									<div class="table_sortable_item" type="acl_object" utility="{{ utility.uuid }}" managed>
										<div class="table_sortable_text">
											<div class="table_sortable_utilname" col="utilname">{{ utility.name }}</div>
											<div class="table_sortable_utildesc">{{ utility.desc }}</div>
										</div>
										<div class="table_sortable_icon" icon="remove" editing="no"></div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar">
		<form id="edit_acl">
			<div class="sidebar_group">
				<div class="sidebar_group_title">ACL Details</div>
				<div class="sidebar_group_content">
				
					{# ACL Actions #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_action" type="button" active="yes" action="method" target="acl.edit">Edit</div>
						<div class="sidebar_group_action" type="button" active="no" action="method" target="acl.save" style="display:none;">Save</div>
					</div>
				
					{# ACL UUID #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">UUID:</div>
						<div class="sidebar_group_detail_text">{{ acls.detail.uuid }}</div>
					</div>
					
					{# ACL Name #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Name:</div>
						<div class="sidebar_group_detail_input">
							<input type="text" form="edit_acl" name="name" value="{{ acls.detail.name }}" disabled="" noreset/>
						</div>
					</div>
					
					{# ACL Description #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Description:</div>
						<div class="sidebar_group_detail_input">
							<input type="text" form="edit_acl" name="desc" value="{{ acls.detail.desc }}" disabled="" noreset/>
						</div>
					</div>
					
					{# ACL Global Type Flag #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Global Access:</div>
						<div class="sidebar_group_detail_input">
							<select name="type_global" form="edit_acl" disabled="">
								{% if acls.detail.type_global == True %}
									<option value="bool:true" selected="selected">Yes</option>
									<option value="bool:false">No</option>
								{% else %}
									<option value="bool:true">Yes</option>
									<option value="bool:false" selected="selected">No</option>
								{% endif %}
							</select>
						</div>
					</div>
					
					{# ACL Object Type Flag #}
					<div class="sidebar_group_detail">
						<div class="sidebar_group_detail_label">Object Access:</div>
						<div class="sidebar_group_detail_input">
							<select name="type_object" form="edit_acl" disabled="">
								{% if acls.detail.type_object == True %}
									<option value="bool:true" selected="selected">Yes</option>
									<option value="bool:false">No</option>
								{% else %}
									<option value="bool:true">Yes</option>
									<option value="bool:false" selected="selected">No</option>
								{% endif %}
							</select>
						</div>
					</div>
				</div>
			</div>
			
			{# Edit Mode #}
			<input type="hidden" name="edit" value="no" noreset>
			
			{# ACL UUID Form Value #}
			<input type="hidden" name="acl_uuid" value="{{ acls.detail.uuid }}" noreset>
		</form>
	</div>
</div>