<div class="table" type="table" target="utilities" id="endpoint_list_table">
	<div class="table_title" id="endpoint_list_title">
		<div class="table_title_label">API Utilities</div>
		<div class="table_actions">
			<div class="table_action" type="button" action="popup" target="utility.create">Create</div>
			<div class="table_action" type="button" action="popup" target="utility.delete" require="input[type$='radio'][name$='utility_uuid']:checked">Delete</div>
		</div>
	</div>
	<div class="table_headers" table="utility_list">
		<div class="table_select_header"></div>
		<div class="table_header table_header_md" col="util_path">Path</div>
		<div class="table_header table_header_md" col="util_method">Method</div>
		<div class="table_header table_header_md" col="util_desc">Description</div>
		<div class="table_header table_header_md" col="util_object">Object Type</div>
		<div class="table_header table_header_md" col="util_protected">Protected</div>
		<div class="table_header table_header_md" col="util_enabled">Enabled</div>
		<div class="table_header table_header_md" col="util_enabled">Edit Lock</div>
	</div>
	<div type="rows" table="utility_list">
		{% for utility in utilities.all %}
		<div class="table_row" type="row" target="utilities" utility="{{ utility.uuid }}">
			<div class="table_select_col">
				<input type="radio" name="utility_uuid" value="{{ utility.uuid }}" action="update">
			</div>
			<div class="table_col table_link" type="button" action="link" target="admin?panel=utilities&utility={{ utility.uuid }}" col="util_path">{{ utility.path }}</div>
			<div class="table_col" col="util_method">{{ utility.method }}</div>
			<div class="table_col" col="util_desc">{{ utility.desc }}</div>
			{% if utility.object %}
				<div class="table_col" col="util_object">{{ utility.object }}</div>
			{% else %}
				<div class="table_col" col="util_object"></div>
			{% endif %}
			{% if utility.protected == True %}
				<div class="table_col" col="util_protected">Yes</div>
			{% else %}
				<div class="table_col" col="util_protected">No</div>
			{% endif %}
			{% if utility.enabled == True %}
				<div class="table_col" col="util_enabled">Yes</div>
			{% else %}
				<div class="table_col" col="util_enabled">No</div>
			{% endif %}
			{% if utility.locked == True %}
				<div class="table_col" col="util_locked">{{ utility.locked_by }}</div>
			{% else %}
				<div class="table_col" col="util_locked"></div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
