div[col="object_enabled"] {
	display: inline-block;
	width: 25px;
	height: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

div[col="object_enabled"][enabled] {
	background-image: url(/portal/static/images/enabled.png);
}

div[col="object_enabled"][disabled] {
	background-image: url(/portal/static/images/disabled.png);
}