.login_window {
	padding: 10px;
	position: fixed;
	opacity: 0.0;
	background-color: #fff;
	border: solid 1px #eee;
}

.login_title {
	height: 50px;
	overflow: auto;
	line-height: 50px;
	border-bottom: solid 1px #eee;
}

.login_title_txt {
	font-size: 1.4em;
	float: left;
}

.login_title_icon {
	width: 50px;
	height: 50px;
	float: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(/static/images/cloud.png);
}

.login_fields {
	border-bottom: solid 1px #eee;
	padding: 0 0 10px 0;
}

.login_input {
	width: 290px;
	height: 25px;
	margin: 10px 0 0 0;
	padding: 5px;
	overflow: auto;
	border-left: solid 2px #048cc4;
	border-top: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.login_input_icon {
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
	opacity: 0.5;
}

.login_input input {
	width: 260px;
	border: 0;
	margin: 0;
	padding: 0 0 0 5px;
	height: 25px;
	line-height: 25px;
	font-size: 1.1em;
	float: left;
}

.login_input input:focus {
	outline-width: 0;
}

.login_submit {
	margin: 10px 0 0 0;
	border: solid 1px #048cc4;
	text-align: center;
	font-size: 1.4em;
	padding: 5px;
	background: #19a9e5;
	color: #f4f4f4;
	height: 30px;
	line-height: 30px;
}

.login_state {
	text-align: center;
	padding: 5px 5px 0 5px;
}

.login_submit:hover {
	cursor: pointer;
	background-color: #159ad1;
}

.login_input_icon[icon="username"] {
	background-image: url(/static/images/users.png);
}

.login_input_icon[icon="password"] {
	background-image: url(/static/images/permissions.png);
}