html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

body[path="auth"] {
	background-color: #f7f7f7;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/**
 * Base Form Styling
 */
fieldset {
	border: none;
	padding: 10px;
	margin: 0;
}

/**
 * Host Agent Status
 */
div[type="agent.status"][state="RUNNING"] {
	color: #09BA00;
	font-weight: bold;
}

div[type="agent.status"][state="ERROR"] {
	color: #E80000;
	font-weight: bold;
}

.agent_control {
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

div[type="agent.control"] {
	text-align: center;
}

.agent_control[active="yes"] {
	opacity: 0.5;
}

.agent_control[active="yes"]:hover {
	cursor: pointer;
	opacity: 1.0;
}

.agent_control[active="no"] {
	opacity: 0.2;
}

.agent_control[action="start"] {
	background-image: url(/static/images/agent_start.png);
}

.agent_control[action="stop"] {
	background-image: url(/static/images/agent_stop.png);
}

.agent_control[action="restart"] {
	background-image: url(/static/images/agent_restart.png);
}

/**
 * Finder Results
 *
 */
#finder_results {
	position: fixed;
	display: none;
	top: 40px;
	right: 10px;
	border: solid 1px #eee;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.15);
}

.finder_content {
	min-height: 20px;
	max-height: 300px;
	background-color: #fff;
	padding: 10px;
	overflow: auto;
}

.finder_result_group {
	overflow: auto;
}

.finder_result_type,
.finder_result_rows {
	float: left;
}

.finder_result_type {
	width: 100px;
	padding: 5px 0 0 0;
	font-weight: bold;
}

.finder_result_rows {
	border-left: solid 1px #f4f4f4;
	padding: 0 0 10px 5px;
}

.finder_result_row {
	min-width: 300px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px 0 5px;
}

.finder_result_row[focus] {
	background-color: #007BC7;
	color: #fff;
}

.finder_result_row:hover {
	background-color: #007BC7;
	color: #fff;
	cursor: pointer;
}

/**
 * Base Template Styling
 */

.base_window {
	padding: 40px 10px 10px 10px;
}

.content_window {
	overflow: auto;
}

.base_window_min {
	padding: 10px;
}

.base_nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	background: #f4f4f4;
	border-bottom: solid 1px #eee;
	width: 100%;
	margin: 0 0 10px 0;
}

.nav_profile_username {
	float: left;
	height: 30px;
	line-height: 30px;
}

.nav_profile_button {
	opacity: 0.5;
}

.nav_profile_button:hover {
	opacity: 1.0;
	cursor: pointer;
}

.nav_profile_api_key {
	margin: 0 0 10px 0;
}

.nav_profile_api_key_label {
	font-size: 1.1em;
	margin: 0 0 5px 0;
}

.nav_profile_api_key_value {
	overflow: auto;
	border-left: solid 2px #048cc4;
	border-top: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.nav_profile_api_key_toggle {
	width: 30px;
	height: 30px;
	float: right;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.nav_profile_api_key_toggle:hover {
	opacity: 1.0;
	cursor: pointer;
}

.nav_profile_api_key_value input {
	width: 259px;
	border: none;
	padding: 5px;
	height: 20px;
	float: left;
}

.nav_profile_api_key_value input:focus {
	outline-width: 0;
}

.nav_profile_icon {
	height: 30px;
	width: 25px;
	float: left;
	background-image: url(/static/images/users.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.nav_profile_wrapper {
	position: fixed;
	top: 30px;
	right: 5px;
}

.nav_profile_logout {
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.2em;
	background-color: #19a9e5;
	border: solid 1px #048cc4;
	color: #fff;
}

.nav_profile_logout:hover {
	cursor: pointer;
	background-color: #159ad1;
}

.nav_profile_ptr_wrapper {
	overflow: auto;
	height: 7px;
}

.nav_profile_ptr {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f4f4f4;
	float: right;
	z-index: 5;
}

.nav_profile_content {
	background-color: #fff;
	border: solid 1px #eee;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.base_nav_finder,
.base_nav_active_group {
	float: right;
	height: 30px;
	margin: 0 5px 0 0;
}

.base_nav_active_group select {
	height: 20px;
	padding: 0;
	margin: 7px 0 5px 0;
}

.base_nav_finder input {
	height: 15px;
	line-height: 15px;
	margin: 5px 0 5px 0;
	border: 0;
	padding: 3px 5px;
	font-size: 10px;
	text-align: right;
	width: 200px;
}

.base_nav_right { float: right; }
.base_nav_left { 
	float: left; 
	overflow: auto;
}

.base_nav_button_left {
	float: left;
	line-height: 30px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	border-right: solid 1px #fff
}

.base_nav_button_right {
	float: right;
	line-height: 30px;
	margin: 0 10px 0 0;
	padding: 0 0 0 10px;
	border-left: solid 1px #fff;
}

.base_nav_button_left:hover,
.base_nav_button_right:hover {
	cursor: pointer;
	text-decoration: underline;
}

.nav_profile_api_key_toggle[state="show"] {
	background-image: url(/static/images/show.png);	
}

.nav_profile_api_key_toggle[state="hide"] {
	background-image: url(/static/images/hide.png);	
}

/* Layouts for full page width tables, table grids, tables with columns,
 * and tables with a label/value set of rows.
 */
.page_header_box {
	border-bottom: solid 1px #eee;
	padding: 10px;
	overflow: auto;
	height: 40px;
	line-height: 40px;
}

.page_title {
	float: right;
	font-size: 1.8em;
}

.page_title_actions {
	float: left;
}

.page_title_jump {
	overflow: auto;
}

.page_jump_label,
.page_jump_select {
	float: left;
}

.page_jump_label {
	padding: 0 0 0 5px;
	margin: 0 0 0 5px;
	border-left: solid 1px #eee;
}

.page_jump_select select {
	
}

/**
 * Alert Box
 *
 * Generic styles for the alert box container, and alert box messages. Used when
 * showing messages to the web user, which can either be success messages, or error
 * messages when submitting an API request or clicking a button.
 */
#alert_box_container {
	position: fixed;
	bottom: 0px;
	right: 10px;
	min-width: 300px;
	max-width: 800px;
	padding: 10px;
	max-height: 600px;
	overflow: auto;
	z-index: 99;
}

.alert_close {
	text-align: right;
	font-weight: bold;
	padding: 0 0 3px 0;
	margin: 0 0 3px 0;
	height: 20px;
	line-height: 20px;
	border-bottom: solid 1px #eee;
}

.alert_close:hover {
	cursor: pointer;
	text-decoration: underline;
}

.alert_box_fatal,
.alert_box_error,
.alert_box_warn,
.alert_box_info,
.alert_box_success,
.alert_box_msg {
	float: left;
}

.alert_box_fatal,
.alert_box_error,
.alert_box_warn,
.alert_box_success,
.alert_box_info {
	font-weight: bold;
	padding: 0 5px 0 0;
}

.alert_box_msg {
	overflow: auto;
	max-height: 374px;
	max-width: 780px;
	position: relative;
}

.alert_box_fatal   { color: #FF0000; }
.alert_box_error   { color: #FF6A00; }
.alert_box_warn    { color: #FFA600; }
.alert_box_success { color: #10C200; }

.alert_box {
	overflow: auto;
	z-index: 99;
	margin: 0 0 10px 0;
	background-color: #f4f4f4;
	padding: 10px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.55);
	position: relative;
	max-height: 400px;
	max-width: 800px;
}

/**
 * Loading Window
 *
 * Generic style for the action processing window. Typically toggle when running
 * an API action that requires the user wait for completion to prevent clicks on
 * other page elements.
 */
.loading {
	z-index: 998;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
}

.loading_bg {
	z-index: 999;
	background-color: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}

.loading_content {
	z-index: 1000;
	width: 300px;
	height: 100px;
	position: fixed;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #eee;
	padding: 10px;
	opacity: 0.75;
	background-image: url(/static/images/loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.loading_text {
	text-align: center;
	font-size: 1.3em;
	color: #333;
	height: 70px;
	line-height: 70px;
}

/**
 * Tables
 *
 * Generic style definitions for page tables. Used when rendering blocks of
 * information in table format. Tables can be full page width, or half page
 * width if rendering a split column view.
 */
.table {
	margin: 10px 0 0 0;
	overflow: auto;
}

.table[float="left"] {
	float: left;
}

.table_panel {
	float: right;
	width: 300px;
	background-color: #f4f4f4;
	margin: 10px 0 0 10px;
	padding: 10px;
}

.table_panel_group_title {
	text-align: left;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: solid 1px #eee;
}

.table_panel_group_title_link:hover {
	cursor: pointer;
	border-bottom: solid 1px #fff;
}

.table_menu {
	float: left;
	overflow: auto;
	height: 20px;
	margin: 5px 0 5px 0;
	line-height: 20px;
}

.table_dropdown {
	overflow: auto;
}

.table_dropdown_label,
.table_dropdown_menu {
	float: left;
	line-height: 20px;
}

.table_dropdown_label {
	padding: 0 5px 0 0;
}

.table_dropdown_menu select {
	margin: 0;
	padding: 0;
}

.table_editor {
	float: left;
	overflow: auto;
	padding: 10px 0 0 0;
}

.table_50,
.table_50_editor {
	width: 48%;
	padding-right: 2%;
	float: left;
	overflow: auto;
}

.table_50_outer {
	overflow: auto;
}

.table_title_ex {
	margin: 5px 0 5px 0 !important;	
}

.table_sortable_inner {
	overflow: auto;
}

.table_sortable_epname,
.table_sortable_member_name {
	float: left;
	margin: 0 10px 0 0;
	font-weight: bold;
}

.table_sortable_epdesc,
.table_sortable_member_label,
.table_sortable_member_icon,
.table_sortable_member_datacenter,
.table_sortable_member_ip {
	float: left;
}

.table_sortable_member_icon {
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
}

.table_sortable_member_icon[type="linux"] {
	background-image: url(/static/images/os_linux.png);
}

.table_sortable_member_icon[type="windows"] {
	background-image: url(/static/images/os_windows.png);
}

.table_sortable_item {
	border-bottom: solid 1px #eee;
	height: 25px;
	padding: 5px;
	line-height: 25px;
	overflow: auto;
}

.table_sortable_text {
	float: left;
}

div[class="table_sortable_icon"][icon="add"],
div[class="table_sortable_icon"][icon="remove"] {
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: right;
	opacity: 0.5;
}

div[class="table_sortable_icon"][icon="remove"] {
	background-image: url(/static/images/minus.png);
}

div[class="table_sortable_icon"][icon="add"] {
	background-image: url(/static/images/plus.png);
}

.table_sortable_item:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

.table_sortable_item:hover .table_sortable_icon {
	opacity: 1.0;
}

.table_title_inner {
	padding: 5px;
	margin: 0 0 10px 0;
	font-size: 1.4em;
}

.table_title {
	margin: 5px 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #eee;
	overflow: auto;
	height: 30px;
	line-height: 30px;
}

.table_title_label {
	font-size: 1.4em;
	float: left;
}

.table_actions {
	float: right;
	height: 20px;
	line-height: 20px;
	margin: 5px 0 5px 0;
}

.table_actions_jump {
	overflow: auto;
	float: right;
}

.table_actions_jump_select {
	float: right;
}

.table_actions_inner {
	overflow: auto;
	margin: 0 0 5px 0;
	border-bottom: solid 1px #eee;
	padding: 0 0 5px 0;
	line-height: 20px;
}

.table_action_seperator {
	float: right;
	width: 1px;
	height: 20px;
	background-color: #eee;
	margin: 0 0 0 10px;
}

.table_action {
	background: #f4f4f4;
	border: solid 1px #eee;
}

.table_action_active {
	background: #333;
	color: #fff;
	border: solid 1px #000;
}

.table_action,
.table_action_active {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	float: right;
	margin: 0 0 0 10px;
}

.table_action:hover,
.table_action_left:hover {
	cursor: pointer;
	border: solid 1px #ddd;
	background: #f0f0f0;
}

.table_headers {
	opacity: 0.0;
	overflow: auto;
	border-bottom: solid 1px #eee;
}

.table_row_group {
	border-bottom: solid 5px #eee;
	border-top: solid 5px #eee;
}

.table_row_actions {
	overflow: auto;
	padding: 5px;
}

.table_row_actions .table_action {
	padding: 5px;
}

.table_header_rg {
	font-size: 1.0em;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}

.table_header_md {
	font-size: 1.2em;
	height: 30px;
	line-height: 30px;
}

.table_header, 
.table_select_header {
	float: left;
	text-align: center;
	border-right: solid 1px #eee;
}
.table_select_header { 
	width: 30px; 
	height: 30px;	
}

.table_row_title {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 10px 10px 0;
}

.table_row_link:hover {
	cursor: pointer;
	background-color: #f4f4f4;
}

.table_col > * {
	vertical-align: middle;
}

.table_control {
	float: left;
	height: 26px;
	line-height: 26px;
}

.table_control > * {
	vertical-align: middle;
}

.table_row_select {
	float: left;
	padding: 5px;
	border-left: solid 1px #eee;
}

.table_row_select select {
	min-width: 200px;
}

.table_row_select_lock {
	float: right;
	width: 20px;
	height: 20px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.table_row_select_lock:hover {
	cursor: pointer;
	opacity: 1.0;
}

.table_row_select_lock[state="enabled"] {
	background-image: url(/static/images/lock.png);
}

.table_row_select_lock[state="disabled"] {
	background-image: url(/static/images/unlock.png);
}

.table_title_link:hover {
	cursor: pointer;
	background-color: #f9f9f9;
}

.table_row {
	opacity: 0.0;
}

.table_rows {
	overflow: auto;
}

.table_row_sub {
	background-color: #f4f4f4;
	border-bottom: solid 1px #eee !important;
}

.table_row,
.table_row_inner {
	overflow: auto;
	border-bottom: solid 1px #f4f4f4;
}

.table_row_label,
.table_row_text {
	font-size: 1.2em;
	padding: 5px;
}

.table_row_inner_label,
.table_row_inner_text {
	padding: 5px;
	float: left;
}

.table_row_inner_label {
	float: left;
	width: 100px;
	font-weight: bold;
}

.table_row_label {
	float: left;
	width: 150px;
	font-weight: bold;
}

.table_row_text {
	border-left: solid 1px #eee;
	float: left;
}

.table_row_input {
	float: left;
	margin: 5px 0 5px 0;
	padding: 0 0 0 5px;
	border-left: solid 1px #eee;
}

.table_row_input input[readonly="readonly"],
.table_row_input input {
	padding: 5px;
	margin: 0;
	border: none;
	width: 240px;
	font-size: 1.1em;
}

.table_row_input input[readonly="readonly"] {
	background: none;
}

.table_row_input input {
	background-color: #f4f4f4;
}

.table_col,
.table_select_col {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 1px 0 0;
}
.table_select_col { width: 30px; }

.table_link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.table_cluster_stat_vis {
	margin: 0 0 7px 0;
}

.table_col_select_dropdown {
	padding: 2px;
	margin: 0;
	background-color: #f4f4f4;
}

/**
 * Generic Form Styles
 */
.form_input_icon_err,
.form_input_icon_ok,
.form_input_icon_def {
	float: right;
	width: 30px;
	height: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.form_input_icon_def {
	background-image: url(/static/images/input_def.png);
}

.form_input_icon_err {
	background-image: url(/static/images/input_err.png);
}

.form_input_icon_ok {
	background-image: url(/static/images/input_ok.png);
}

.form_response {
	text-align: center;
	font-size: 1.1em;
	color: #DE0000;
	padding: 10px 0 0 0;
}

/**
 * Popup Windows
 *
 * Generic style definitions for in-page popup windows. Mainly used when 
 * showing confirmation windows, detail windows, and any other content that
 * is rendered on page load but hidden by default.
 */
.popups {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 998;
}

.popups_bg {
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
}

.popups_container {
	width: 500px;
	height: 500px;
	position: absolute;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #eee;
	padding: 10px;
	z-index: 1000;
}

.popup_content {
	display: none;
}

.popup_body {
	overflow: auto;
}

.popup_desc {
	font-size: 1.1em;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: solid 1px #eee;
}

.popup_desc_list_title {
	font-weight: bold;
	margin: 5px 0 0 0;
}

.popup_desc_list_entry {
	margin: 0 0 0 5px;
}

.popup_title {
	text-align: right;
	font-size: 1.6em;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: solid 1px #eee;
	font-weight: bold;
}

.popup_row {
	overflow: auto;
	min-height: 30px;
	line-height: 20px;
	margin: 0 0 5px 0;
}

.popup_row_header {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #006DA8;
	color: #fff;
	padding: 5px;
	margin: 10px 0 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #eee;
}

.popup_row_col_headers {
	overflow: auto;
	border-bottom: solid 1px #eee;
}

.popup_row_col_header {
	font-size: 1.0em;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	text-align: center;
	border-right: solid 1px #eee;
}

.popup_row_col {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 1px 0 0;
}

.popup_row_label {
	width: 150px;
	float: left;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}

.popup_row_label_checkbox {
	float: left;
	margin: 8px;
}

.popup_row_text {
	line-height: 30px;
}

.popup_row_text,
.popup_row_text_outer {
	float: left;
	padding: 0 0 0 10px;
	min-height: 30px;
	border-left: solid 1px #eee;
}

.popup_row_text_inner_header {
	font-weight: bold;
}

.popup_row_text_inner_list {
	padding: 0 0 0 5px;
}

.popup_row_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.popup_row_center {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.2em;
	border-bottom: solid 1px #fcfcfc;
}

.popup_row_input,
.popup_row_input_full {
	float: left;
	border: 0;
	font-size: 1.2em;
	background: #f4f4f4;
	min-height: 30px;
	overflow: auto;
}

.popup_row_input {
	width: 340px;
	margin: 0 0 0 5px;
	line-height: 30px;
}

.popup_row_input_full {
	width: 100%;
}

.popup_row_input_full .dropdown_popup_action .dropdown_value,
.popup_row_input_full .dropdown_popup_action .dropdown_popup_value {
	float: left;
}

.popup_row_input input,
.popup_row_input_full input {
	border: none;
	background: none;
	margin: 0;
	padding: 5px;
	height: 20px;
	line-height: 20px;
	float: left;
}

.popup_row_input select {
	width: 330px;
	padding: 0;
	margin: 5px;
	padding: 5px;
}

.popup_row_input input {
	width: 300px;
}

.popup_row_input_full input {
	width: auto;
}

.popup_row_radio_group {
	float: left;
}

.popup_row_radio_box input {
	margin: 0 5px 0 5px;
}

.popup_row_radio_opt,
.popup_row_radio_box,
.popup_row_radio_label {
	overflow: auto;
	font-size: 1.1em;
}

.popup_row_radio_box,
.popup_row_radio_label {
	float: left;
}

.popup_row_input input:focus {
	outline-width: 0;
}

.popup_row_seperator {
	height: 1px;
	background-color: #eee;
	margin: 10px 0 10px 0;	
}

.popup_row_toggle {
	overflow: auto;
	height: 30px;
	line-height: 30px;
}

.popup_row_toggle_button,
.popup_row_toggle_button_50 {
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.popup_row_toggle_button:hover,
.popup_row_toggle_button_50:hover {
	cursor: pointer;
	text-decoration: underline;
}

.popup_row_toggle_button_50 {
	width: 50%;
}

div[class="popup_row_toggle_button"][state="active"],
div[class="popup_row_toggle_button_50"][state="active"] {
	background-color: #006DA8;
	color: #fff;
}

.popup_input_container {
	padding: 5px;
	border: solid 1px #eee;
}

.popup_input {
	width: 380px;
	height: 20px;
	border: none;
	font-size: 1.1em;
}

.popup_submit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #eee;
	padding: 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #f4f4f4;
	margin: 10px 0 0 0;
}

.popup_submit:hover {
	background: #f0f0f0;
	cursor: pointer;
	border: solid 1px #ddd;
}

.popup_submit_error {
	padding: 5px 0 0 0;
	text-align: center;
	color: #FF0000;
}

.popup_subheader {
	text-align: left;
	padding: 5px 0 5px 5px;
	margin: 0 10px 5px 0;
	border-bottom: solid 1px #eee;
	font-size: 1.2em;
	font-weight: bold;
}

.popup_subheader_link:hover {
	cursor: pointer;
	background-color: #eee;
}

.popup_subrow {
	overflow: auto;
	height: 30px;
	line-height: 25px;
}

.popup_subrow_label,
.popup_subrow_text {
	float: left;
}

.popup_subrow_label {
	width: 100px;
	font-weight: bold;
	line-height: 25px;
	padding: 0 5px 0 0;
	margin: 0 5px 5px 0;
	border-right: solid 1px #eee;
}

.popup_log_exception {
	margin: 0 0 5px 0;
}

.popup_log_traceback {
	margin: 0 0 0 5px;
}

/**
 * Sidebar
 *
 * Generic styles for a sidebar for the content window.
 */
.sidebar {
	width: 300px;
	background: #f4f4f4;
	float: right;
	overflow: auto;
	padding: 5px 0 5px 0;
	margin: 10px 0 0 0;
}
 
.sidebar_group {
	padding: 0 0 7px 0;
	margin: 0 10px 0 10px;
}

.sidebar_group_title {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 5px 5px 0;
	border-bottom: solid 1px #fff;
	height: 20px;
	line-height: 20px;
}

.sidebar_group_content {
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: solid 1px #fff;
}

.sidebar_group_action {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px 0 5px;
	float: right;
	margin: 0 0 0 10px;
	background: #333;
	border: solid 1px #eee;
	color: #fff;
	padding: 5px 10px;
}

.sidebar_group_action:hover {
	cursor: pointer;
	border: solid 1px #fff;
	background: #444;
}

.sidebar_link_inactive {
	text-align: right;
	background-color: #fff;
	border: solid 1px #eee;
}

.sidebar_link_active {
	text-align: left;
	background-color: #333;
	border: solid 1px #fff;
	color: #fff;
}

.sidebar_link_inactive:hover {
	cursor: pointer;
	background-color: #ddd;
}

.sidebar_link_inactive,
.sidebar_link_active {
	padding: 3px 5px 3px 5px;
	font-size: 1.1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
	margin: 0 0 5px 0;
}

.sidebar_link_optional {
	overflow: hidden;
}

.sidebar_link_optional_check {
	float: right;
	width: 20px;
	height: 20px;
	padding: 0 0 0 5px;
	line-height: 20px;
}

.sidebar_link_optional_text {
	float: left;
}

.sidebar_group_detail {
	overflow: auto;
	font-size: 1.1em;
}

.sidebar_group_detail_label {
	font-weight: bold;
	padding: 2px 0 2px 0;
	margin: 0 0 2px 0;
	border-bottom: solid 1px #eee;
}

.sidebar_group_detail_input {
	padding: 5px;
}

.sidebar_group_detail_input select {
	width: 270px;
	padding: 5px;
}

.sidebar_group_detail_input input {
	width: 260px;
	margin: 0;
	padding: 5px;
	border: none;
}

.sidebar_group_detail_text {
	padding: 0 0 5px 5px;
}

.sidebar_group_buttons {
	overflow: auto;
	height: 20px;
	line-height: 20px;
	border-top: solid 1px #fff;
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
}

.sidebar_group_button {
	float: left;
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
	border-right: solid 1px #eee;
}

.sidebar_group_button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.sidebar_group_title[type="button"]:hover {
	cursor: pointer;
	background-color: #fff;
}

/**
 * Dropdown Menu Styling
 *
 */
.dropdown_menu {
	overflow: auto;
}

.dropdown_action,
.dropdown_popup_action {
	overflow: auto;
	height: 30px;
	float: left;
}

.dropdown_action       { width: 460px; }
.dropdown_popup_action { width: 195px; }

.dropdown_button:hover {
	cursor: pointer;
}

.dropdown_button {
	width: 30px;
	height: 30px;
	background-image: url(/static/images/dd_select.png);
	float: left;
	background-repeat: none;
	background-position: 50% 50%;
}

.dropdown_value,
.dropdown_popup_value {
	float: right;
	height: 30px;
	line-height: 30px;
}

.dropdown_value       { font-size: 1.1em; }
.dropdown_popup_value { font-size: 1em; }

.dropdown_items,
.dropdown_popup_items {
	display: none;
	border-top: solid 1px #eee;
	padding: 0 0 5px 0;
	max-height: 300px;
	overflow: auto;
}

.dropdown_item,
.dropdown_popup_item {
	border-bottom: solid 1px #eee;
	padding: 5px 0 5px 5px;
	text-align: left;
	margin: 0 5px 0 0;
}

.dropdown_item       { font-size: 1.1em; }
.dropdown_popup_item { font-size: 1em; }

.dropdown_item:hover,
.dropdown_popup_item:hover {
	cursor: pointer;
	background-color: #eee;
}

/**
 * Chart Styles
 */
.chart_x_axis path,
.chart_y_axis path {
	fill: none;
	stroke-width: 0.5px;
	stroke: #ccc;
}

.chart_grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.chart_grid path {
      stroke-width: 0;
}

.table_chart_nodata {
	font-size: 1.1em;
}

.table_line_chart {
	padding: 0 0 10px 0;
}

.table_panel_title {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	margin: 5px 0 5px 0;
	padding: 5px;
	border-bottom: solid 1px #eee;
	height: 25px;
	line-height: 25px;
}

.table_panel_checkbox {
	overflow: auto;
	height: 25px;
	line-height: 25px;
	margin: 0 0 5px 0;
}

.table_panel_searchbox {
	overflow: auto;
	height: 30px;
	line-height: 30px;
	margin: 0 0 5px 0;
	font-size: 1.2em;
}

.table_panel_checkbox_input,
.table_panel_checkbox_label {
	float: left;
	font-size: 1.2em;
}

.table_panel_checkbox_input {
	border-right: solid 1px #eee;
	margin: 0 5px 0 0;
}

.table_panel_checkbox_input input {
	padding: 0;
	margin: 5px;
	height: 15px;
	width: 15px;
}

.table_panel_searchbox_input input {
	border: none;
	padding: 5px;
	margin: 5px 0 0 0;
	width: 290px;
}

.table_panel_scroller {
	overflow: auto;
}

.table_line_chart_info {
	overflow: auto;
	padding: 10px;
}

.table_row_ind_line {
	padding: 5px 0 5px 0;
}

.table_line_chart_title {
	font-size: 1.2em;
}

.table_area_used {
    fill: #7A7A7A;
    fill-opacity: 0.5;
    stroke-width: 0;
}

.table_panel_link:hover {
	cursor: pointer;
	background: #f4f4f4;
}

/**
 * Editor Styles
 */ 
.edit_menu {
	border-bottom: solid 1px #eee;
	height: 50px;
}

.edit_menu_item {
	float: left;
	height: 50px;
}

.edit_menu_button {
	border-right: solid 1px #eee;
	padding: 0 10px 0 0;
	margin: 10px 10px 10px 0;
	height: 30px;
}

.edit_menu_button_inactive,
.edit_menu_button_active {
	line-height: 30px;
	font-size: 1.4em;
}

.edit_menu_button_inactive {
	opacity: 0.5;
}

.edit_menu_button_active:hover {
	text-decoration: underline;
	cursor: pointer;
}

.edit_menu_info {
	float: right;
	height: 30px;
	margin: 10px 0 10px 0;
	line-height: 30px;
}

.editor_frame {
	overflow: auto;
}

.editor {
	float: left;
	position: absolute;
}

/**
 * Navigation Dropdowns
 */
.nav_dropdown_wrapper {
	position: fixed;
	z-index: 1000;
	margin: -19px 0 0 -10px;
}
 
.nav_dropdown_over {
	width: 200px;
	height: 10px;
}
 
.nav_dropdown_outer {
	position: absolute;
	background-color: #f4f4f4;
	z-index: 1001;
}

.nav_dropdown_inner {
	padding: 10px;
}

.nav_dropdown_item {
	width: 180px;
	font-size: 1.1em;
	border-bottom: solid 1px #fff;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	overflow: auto;
}

.nav_dropdown_item:hover {
	cursor: pointer;
}

.nav_dropdown_item:hover .nav_dropdown_label {
	text-decoration: underline;
}

.nav_dropdown_item:hover .nav_dropdown_icon {
	opacity: 1.0;
}

.nav_dropdown_label {
	float: left;
	height: 25px;
	line-height: 25px;
}

.nav_dropdown_icon {
	float: right;
	height: 25px;
	width: 25px;
	opacity: 0.5;
	background-repeat: none;
	background-position: 50% 50%;
}

.nav_icon_endpoints {
	background-image: url(/static/images/endpoints.png);
}

.nav_icon_datacenters {
	background-image: url(/static/images/datacenters.png);
}

.nav_icon_groups {
	background-image: url(/static/images/groups.png);
}

.nav_icon_users {
	background-image: url(/static/images/users.png);
}

.nav_icon_permissions {
	background-image: url(/static/images/permissions.png);
}

.nav_icon_objects {
	background-image: url(/static/images/objects.png);
}

.nav_icon_hosts_list {
	background-image: url(/static/images/hosts_list.png);
}

.nav_icon_hosts_groups {
	background-image: url(/static/images/hosts_groups.png);
}

.nav_icon_network {
	background-image: url(/static/images/network.png);
}

.nav_icon_routers {
	background-image: url(/static/images/hosts_list.png);
}

.nav_icon_switches {
	background-image: url(/static/images/hosts_list.png);
}

.nav_icon_ipv4 {
	background-image: url(/static/images/ipv4.png);
}

.nav_icon_ipv6 {
	background-image: url(/static/images/ipv6.png);
}

.nav_icon_vlans {
	background-image: url(/static/images/vlan.png);
}

/**
 * Edit Flags
 */
div[editing="yes"] {
	display: block;
}

div[editing="no"] {
	display: none;
}