html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

a {
	color: #ffffff;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#ui3d_menu {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.ui3d_sort_label {
	font-weight: bold;
	padding: 0 10px 0 0;
}

.ui3d_sort_button {
	border-left: solid 1px #eee;
	padding: 0 10px 0 10px;
}

.ui3d_sort_button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.ui3d_sort_label,
.ui3d_sort_button {
	float: left;
	font-size: 1.1em;
}

.host_outer {
	width: 160px;
	height: 160px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
}

.host_inner {
	width: 160px;
	height: 160px;
	background: #006DB5;
	color: #fff;
	opacity: 0.7;
}

.host_outer:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.75);
}

.host_outer:hover .icon {
	opacity: 1.0;
}

.host_outer:hover .host_inner {
	background-color: #006DB5;
	opacity: 1.0;
}

.icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.icon_linux,
.icon_windows {
	width: 50px;
	height: 50px;
	opacity: 0.5;
}

.icon_linux { background: url(/static/images/os_linux_md_light.png); }
.icon_windows { background: url(/static/images/os_windows_md_light.png); }

.host_outer {
	position: absolute;
	text-align: center;
}

.host_outer .name {
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	font-size: 16px;
	font-weight: bold;
}

.host_outer .details {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
}

.details {
	font-size: 1.3em;
}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}

/**
 * Host Details
 */
#ui3d_dw {
	display: none;
	position: fixed !important;
	right: 0;
	top: 0;
	min-width: 500px;
	z-index: 1000;
}

#ui3d_dw_outer {
	margin: 20px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	overflow: auto;
	min-width: 640px;
	right: 0;
}

#ui3d_dw_resize {
	width: 10px;
	float: left;
	background: #fff;
	border-right: solid 2px #f0f0f0;
	background-color: #efefef;
}

#ui3d_dw_resize:hover {
	border-right: solid 2px #efefef;
	background-color: #e9e9e9;
}

#ui3d_dw_inner {
	float: right;
}

.ui3d_host_loading {
	width: 400px;
}

.ui3d_host_loading_txt {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	opacity: 0.5;
}

.ui3d_host_loading_gif {
	background-image: url(/static/images/loader_md.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 400px;
	margin: 10px 0 0 0;
	height: 32px;
}

.ui3d_embed {
	background-color: #fff;
	border: none;
	width: 100%;
	height: 100%;
}

/**
 * Host Groups
 */

.ui3d_group {
	position: absolute;
}

.ui3d_group_label {
	font-size: 3.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #444;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}