{% verbatim %}
  <form>
    <div class="form-group">
      <button class="btn btn-primary disabled btn-group-label">Type: </button>
      {{#object_toggler object.id meta.varTypes object.data 'static' 'vartype'}}{{/object_toggler}}
    </div>
    <div class="form-group">
      {{#object_toggler_group object.id meta.varTypes object.data 'ref' 'vartype'}}
        <x-var type="object" key="var#{{object.key}}">
          <div class="input-group">
            <div class="input-group-addon">#</div>
            {{#object_var_input 'str' 'ref' object}}{{/object_var_input}}
          </div>
        </x-var>
      {{/object_toggler_group}}
      {{#object_toggler_group object.id meta.varTypes object.data 'fetch' 'vartype'}}
        <x-var type="object" key="var#{{object.key}}">
          <div class="input-group">
            <div class="input-group-addon">LENSE.</div>
            {{#object_var_input 'str' 'fetch' object}}{{/object_var_input}}
          </div>
        </x-var>
      {{/object_toggler_group}}
      {{#object_toggler_group object.id meta.varTypes object.data 'call' 'vartype'}}
        <x-var type="object" key="var#{{object.key}}">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">LENSE.</div>
              {{#object_var_input 'str' 'call' object}}{{/object_var_input}}
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <button class="btn btn-primary disabled btn-group-label">Args: </button>
              {{#object_toggler object.id meta.argTypes object.data 'ref' 'argtype'}}{{/object_toggler}}
            </div>
            <div class="form-group">
              {{#object_toggler_group object.id meta.argTypes object.data 'ref' 'argtype'}}
                <div class="input-group">
                  <div class="input-group-addon">#</div>
                  {{#object_var_input 'str' 'args' object}}{{/object_var_input}}
                </div>
              {{/object_toggler_group}}
              {{#object_toggler_group object.id meta.argTypes object.data 'list' 'argtype'}}
                <x-var type="list" key="args">
                  <div class="input-group">
                    <div class="input-group-addon">ARRAY.</div>
                  </div>
                </x-var>
              {{/object_toggler_group}}
            </div>
            <div class="form-group">
              <button class="btn btn-primary disabled btn-group-label">Kwargs: </button>
              {{#object_toggler object.id meta.kwargTypes object.data 'ref' 'kwargtype'}}{{/object_toggler}}
            </div>
            <div class="form-group">
              {{#object_toggler_group object.id meta.kwargTypes object.data 'ref' 'kwargtype'}}
                <div class="input-group">
                  <div class="input-group-addon">#</div>
                  {{#object_var_input 'str' 'kwargs' object}}{{/object_var_input}}
                </div>
              {{/object_toggler_group}}
              {{#object_toggler_group object.id meta.kwargTypes object.data 'dict' 'kwargtype'}}
                <x-var type="list" key="args">
                  <div class="input-group">
                    <div class="input-group-addon">ARRAY.</div>
                  </div>
                </x-var>
              {{/object_toggler_group}}
            </div>
          </div>
        </x-var>
      {{/object_toggler_group}}
      {{#object_toggler_group object.id meta.varTypes object.data 'static' 'vartype'}}
        <x-var type="object" key="var#{{object.key}}">
          {{#object_var_input 'str' 'static' object}}{{/object_var_input}}
        </x-var>
      {{/object_toggler_group}}
    </div>
  </form>
{% endverbatim %}
