<div class="container-fluid">
   <div class="row">
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          <div style="overflow:auto;">
            <button type="button" class="btn btn-success btn-xs pull-right" id="manifests-compile-btn">Compile</button>
            <button type="button" class="btn btn-danger btn-xs pull-right" id="manifests-execute-btn" style="margin-right: 10px">Execute</button>
          </div>
        </div>
        <div class="chart-stage manifests-tools-col" id="manifests-editor">
        </div>
        <div class="chart-notes"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Debug
        </div>
        <div class="chart-stage manifests-tools-col">
            <pre id="manifests-debug"></pre>
        </div>
        <div class="chart-notes"></div>
      </div>
    </div>
  </div>
</div>