{# Create Utility #}
<div class="popup_content" type="popup" target="utility.create">
	<div class="popup_title">Create Utility</div>
	<div class="popup_body">
		<div class="popup_desc">
		Create a new endpoint which can be mapped using ACL definitions. Must map to an installed application
		and utility class.
		</div>
		<form id="create_utility">
		
			{# Utility Description #}
			<div class="popup_row">
				<div class="popup_row_label">Description:</div>
				<div class="popup_row_input">
					<input type="text" form="create_utility" name="desc" value="" required />
					<div class="form_input_icon_def" type="icon" form="create_utility" name="desc"></div>
				</div>
			</div>
		
			{# Utility Path #}
			<div class="popup_row">
				<div class="popup_row_label">Path:</div>
				<div class="popup_row_input">
					<input type="text" form="create_utility" name="util_path" data_map="path" value="" required />
					<div class="form_input_icon_def" type="icon" form="create_utility" name="util_path"></div>
				</div>
			</div>
		
			{# Utility Method #}
			<div class="popup_row">
				<div class="popup_row_label">Method:</div>
				<div class="popup_row_input">
					<select name="util_method" form="create_utility">
						<option value="GET" selected="selected">GET</option>
						<option value="POST">POST</option>
						<option value="PUT">PUT</option>
						<option value="DELETE">DELETE</option>
					</select>
					<input type="hidden" form="create_utility" name="util_method" value="GET" data_map="method" required validate/>
				</div>
			</div>
			
			{# Utility Enabled #}
			<div class="popup_row">
				<div class="popup_row_label">Enabled:</div>
				<div class="popup_row_input">
					<select name="enabled" form="create_utility">
						<option value="bool:true" selected="selected">Yes</option>
						<option value="bool:false">No</option>
					</select>
					<input type="hidden" form="create_utility" name="enabled" value="bool:true" required validate/>
				</div>
			</div>
			
			{# Utility Protected #}
			<div class="popup_row">
				<div class="popup_row_label">Protected:</div>
				<div class="popup_row_input">
					<select name="protected" form="create_utility">
						<option value="bool:true">Yes</option>
						<option value="bool:false" selected="selected">No</option>
					</select>
					<input type="hidden" form="create_utility" name="protected" value="bool:true" required validate/>
				</div>
			</div>
		
			{# Utility Module #}
			<div class="popup_row">
				<div class="popup_row_label">Module:</div>
				<div class="popup_row_input">
					<select name="mod" form="create_utility">
						<option value="">Please select a module...</option>
						<option value="new">New module path...</option>
						{% for module in modules %}
							<option value="{{ module }}">{{ module }}</option>
						{% endfor %}
					</select>
					<input type="hidden" form="create_utility" name="mod" value="" required validate/>
				</div>
			</div>
			
			{# Utility Module New #}
			<div class="popup_row" target="popup_new" style="display:none;">
				<div class="popup_row_label">New Module:</div>
				<div class="popup_row_input">
					<input type="text" form="create_utility" name="mod_new" value="" ignore/>
					<div class="form_input_icon_def" type="icon" form="create_utility" name="mod_new"></div>
				</div>
			</div>
			
			{# Utility Class #}
			<div class="popup_row">
				<div class="popup_row_label">Class:</div>
				<div class="popup_row_input">
					<input type="text" form="create_utility" name="cls" value="" required />
					<div class="form_input_icon_def" type="icon" form="create_utility" name="cls"></div>
				</div>
			</div>
			
			{# Utility Utilities #}
			<div class="popup_row">
				<div class="popup_row_label">External Utilities:</div>
				<div class="popup_row_input">
					<select name="utils" form="create_utility" multiple>
						<option value="">-none-</option>
						{% for util in utils %}
							<option value="{{ util.0 }}">{{ util.1 }}</option>
						{% endfor %}
					</select>
					<input type="hidden" form="create_utility" name="utils" value="" parse="list" validate/>
				</div>
			</div>
		
			{# API Path / Method #}
			<input type="hidden" form="create_utility" name="path" value="auth/utilities/create" noreset>
			<input type="hidden" form="create_utility" name="method" value="post" noreset>
			<input type="hidden" form="create_utility" name="callback" value="utility.create" noreset>
	
			{# Form Validation Response #}
			<div class="form_response" type="response" target="#create_utility"></div>
		</form>
		<div class="popup_submit" type="button" action="method" target="api.submit" arg="create_utility">Create Utility</div>
	</div>
</div>