{# Add Host #}
<div class="popup_content" type="popup" target="host.add">
	<div class="popup_title">Add Host</div>
	<div class="popup_body">
		<div class="popup_desc">
			Please supply the following information to add a new managed host. You must supply a host IP address, SSH
			port, and server name or alias. For Linux servers you must supply either the root account and password, or
			a local system account with sudo commands enabled without a TTY. For Windows servers, the CloudScape agent
			must be installed and configured for SSH access with your deployment key.
		</div>
		<form id="add_host">
		
			{# Host Type#}
			<div class="popup_row">
				<div class="popup_row_toggle">
					<div class="popup_row_toggle_button_50" state="active" type="button" action="method" target="host.add_type" arg="linux">Linux</div>
					<div class="popup_row_toggle_button_50" state="inactive" type="button" action="method" target="host.add_type" arg="windows">Windows</div>
				</div>
				<input type="hidden" form="add_host" name="type" value="linux" required />
			</div>
			<div class="popup_row_seperator"></div>
			
			{# Host Name #}
			<div class="popup_row">
				<div class="popup_row_label">Name:</div>
				<div class="popup_row_input">
					<input type="text" form="add_host" name="name" value="" required />
					<div class="form_input_icon_def" type="icon" form="add_host" name="name"></div>
				</div>
			</div>
			
			{# Host IP Address #}
			<div class="popup_row">
				<div class="popup_row_label">IP Address:</div>
				<div class="popup_row_input">
					<input type="text" form="add_host" name="ip" value="" validate="ipv4" required />
					<div class="form_input_icon_def" type="icon" form="add_host" name="ip"></div>
				</div>
			</div>
			
			{# Host SSH Port#}
			<div class="popup_row">
				<div class="popup_row_label">SSH Port:</div>
				<div class="popup_row_input">
					<input type="text" form="add_host" name="ssh_port" value="" validate="port" required />
					<div class="form_input_icon_def" type="icon" form="add_host" name="ssh_port"></div>
				</div>
			</div>
			
			{# Host SSH User: Linux #}
			<div class="popup_row" host_type="linux">
				<div class="popup_row_label">Admin User:</div>
				<div class="popup_row_input" host_type="linux">
					<input type="text" form="add_host" name="user" value="" required />
					<div class="form_input_icon_def" type="icon" form="add_host" name="user"></div>
				</div>
			</div>
			
			{# Host SSH Password: Linux #}
			<div class="popup_row" host_type="linux">
				<div class="popup_row_label">User Password:</div>
				<div class="popup_row_input">
					<input type="password" form="add_host" name="password" value="" required />
					<div class="form_input_icon_def" type="icon" form="add_host" name="password"></div>
				</div>
			</div>
			
			{# Host Deployment Key: Windows #}
			<div class="popup_row" host_type="windows" style="display:none;">
				<div class="popup_row_label">Deployment Key:</div>
				<div class="popup_row_input">
					<div class="dropdown_menu" type="dropdown" target="menu" name="dkey">
						<div class="dropdown_popup_action">
							<div class="dropdown_button" type="button" action="toggle" target="dkey"></div>
							{% if dkeys.default %}
								<div class="dropdown_popup_value" type="dropdown" target="dkey">Default: {{ dkeys.default.name }}</div>
							{% else %}
								<div class="dropdown_popup_value" type="dropdown" target="dkey">Please select a key...</div>
							{% endif %}
						</div>
						<div class="popup_input_icon_def" type="icon" form="add_host" name="dkey"></div>
						{% if dkeys.default %}
							<input type="hidden" validate form="add_host" name="dkey" value="{{ dkeys.default.uuid }}" required disabled>
						{% else %}
							<input type="hidden" validate form="add_host" name="dkey" value="" required disabled>
						{% endif %}
					</div>
					<div class="dropdown_popup_items" type="toggle" name="dkey">
						{% for dkey in dkeys.keys %}
							<div class="dropdown_popup_item" type="button" action="dropdown" value="{{ dkey.uuid }}" label="{{ dkey.name }}" target="dkey">{{ dkey.name }}</div>
						{% endfor %}
					</div>
				</div>
			</div>

			{# API Data Filters #}
			<filter type="api_data" if="type=linux" exclude="dkey" />
			<filter type="api_data" if="type=windows" exclude="user,password" />

			{# API Action / Path / Method #}
			<input type="hidden" form="add_host" name="action" value="add" noreset>
			<input type="hidden" form="add_host" name="path" value="host" noreset>
			<input type="hidden" form="add_host" name="method" value="post" noreset>
			<input type="hidden" form="add_host" name="callback" value="host.add" noreset>

			{# Form Validation Response #}
			<div class="form_response" type="response" target="#add_host"></div>
		</form>
		
		{# Submit API Request #}
		<div class="popup_submit" type="button" action="method" target="api.submit" arg="add_host">Create Host</div>
	</div>
</div>