{% verbatim %}
<tr>
  <th></th>
  <th>{{#boolToString _DATA_.user_read}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.user_write}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.user_delete}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.user_exec}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.group_read}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.group_write}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.group_delete}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.group_exec}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.all_read}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.all_write}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.all_delete}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.all_exec}}{{/boolToString}}</th>
  <th>{{#boolToString _DATA_.share}}{{/boolToString}}</th>
</tr>
{% endverbatim %}