{% verbatim %}
<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail">
    <div class="thumbnail-header">
      <div class="thumbnail-icon">
        {{#inspect_link _DATA_.uuid}}{{/inspect_link}}
      </div>
      <div class="thumbnail-title">
        {{#title_link _DATA_.uuid _TITLE_}}{{/title_link}}
      </div>
      <div class="thumbnail-selector">
        <input type="checkbox" uuid="{{_DATA_.uuid}}">
      </div>
    </div>
    {{#each _DISPLAY_}}
      {{#thumbnail_field @key this}}{{/thumbnail_field}}
    {{/each}}
  </div>
</div>
{% endverbatim %}