{% verbatim %}
<div class="row widget-attr-row" widget-uuid="{{_widgetUUID_}}">
  <div class="col-xs-11 col-widget-left-full col-widget">
    <input type="text" class="form-control widget-input" widget-id="{{_DATA_.widgetId}}" placeholder="value" widget-uuid="{{_widgetUUID_}}">
  </div>
  <div class="col-xs-1 col-widget-right col-widget">
    <button type="button" class="btn btn-danger btn-sm btn-widget-col btn-remove-widget-attr" widget-id="{{_DATA_.widgetId}}" widget-arg="" widget-uuid="{{_widgetUUID_}}">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
{% endverbatim %}