<div class="table_50" id="sysinfo_table">
	<div class="table_title" id="sysinfo_title">
		<div class="table_title_label">System Details</div>
		<div class="table_actions">
			
			{# Linux Specific #}
			{% if host.details.os_type == 'linux' %}
			
				{# Firewall #}
				{% if host.details.sys.firewall %}
					<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_fw">Firewall</div>
				{% endif %}
			{% endif %}
		
			{# Host Information Panels #}
			<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_services">Services</div>
			<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_disk">Disk</div>
			<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_memory">Memory</div>
			<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_network">Network</div>
			<div class="table_action" type="button" action="grouptoggle" group="host_details" target="host_cpu">CPU</div>
			<div class="table_action_active" type="button" action="grouptoggle" group="host_details" target="host_overview">Overview</div>
		</div>
	</div>
	<div class="table_panel_tmpl" style="height:1px;"></div>
	
	{# Host Overview #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_overview">
		<div class="table_rows" type="table" name="host_overview">
			<div class="table_panel_title">Overview</div>
			<div class="table_row">
				<div class="table_row_label">Name</div>
				<div class="table_row_text">{{ host.details.name }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">UUID</div>
				<div class="table_row_text">{{ host.details.uuid }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Owner</div>
				<div class="table_row_select">
					<select name="owner" disabled>
						{% for group in groups %}
							{% if group.uuid == host.details.owner.uuid %}
								<option value="{{ group.uuid }}" selected="selected">{{ group.name }}</option>
							{% else %}
								<option value="{{ group.uuid }}">{{ group.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
					<div class="table_row_select_lock" type="button" action="toggle_input" target="select[name='owner']" state="disabled"></div>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Agent Status</div>
				<div class="table_row_text" type="agent.status" host="{{ host.details.uuid }}" state="{{ host.details.agent_status }}">{{ host.details.agent_status }}</div>
				<div class="table_control">
					{% if host.details.agent_status == 'RUNNING' %}
						<div class="agent_control" action="start" active="no" host="{{ host.details.uuid }}"></div>
						<div class="agent_control" action="stop" active="yes" host="{{ host.details.uuid }}"></div>
						<div class="agent_control" action="restart" active="yes" host="{{ host.details.uuid }}"></div>
					{% else %}
						<div class="agent_control" action="start" active="yes" host="{{ host.details.uuid }}"></div>
						<div class="agent_control" action="stop" active="no" host="{{ host.details.uuid }}"></div>
						<div class="agent_control" action="restart" active="no" host="{{ host.details.uuid }}"></div>
					{% endif %}
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Type</div>
				<div class="table_row_text">{{ host.details.sys.os.type }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">OS</div>
				<div class="table_row_text">{{ host.details.sys.os.distro }} {{ host.details.sys.os.version }} {{ host.details.sys.os.arch}}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">CPU</div>
				<div class="table_row_text">
				{% for cpu in host.details.sys.cpu %}
					<div style="padding:0 0 5px 0;">CPU {{ cpu.number }}: {{ cpu.cores }}-core {{ cpu.model }}</div>
				{% endfor %}
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Memory</div>
				<div class="table_row_text">{{ host.details.sys.memory.total }} MBytes</div>
			</div>
			{% if host.details.os_type == "linux" %}
				<div class="table_row">
					<div class="table_row_label">Kernel</div>
					<div class="table_row_text">{{ host.details.sys.os.kernel }}</div>
				</div>
				<div class="table_row">
					<div class="table_row_label">Release</div>
					<div class="table_row_text">{{ host.details.sys.os.release }}</div>
				</div>
			{% else %}
				<div class="table_row">
					<div class="table_row_label">CSD</div>
					<div class="table_row_text">{{ host.details.sys.os.csd }}</div>
				</div>
			{% endif %} 
		</div>
	</div>
	
	{# Host Disk #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_disk" style="display:none;">
		<div class="table_rows" type="table" name="disk_overview">
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="disk_stats">Disk Statistics</div>
			<div class="table_rows" type="toggle" name="disk_stats">
				<div class="table_row">
					<div class="table_row_label">Total (GB)</div>
					<div class="table_row_text" type="summary" table="disk_use" name="total"></div>
				</div>
				<div class="table_row">
					<div class="table_row_label">Free (GB)</div>
					<div class="table_row_text" type="summary" table="disk_use" name="free"></div>
				</div>
				<div class="table_row">
					<div class="table_row_label">Used (GB)</div>
					<div class="table_row_text" type="summary" table="disk_use" name="used"></div>
				</div>
				<div class="table_line_chart" type="line_chart" name="disk_use">
					<div class="table_line_chart_info" name="net_use">
						<div class="table_line_chart_title">Disk Usage (GBytes)</div>
						<div type="svg" name="disk_use" id="disk_use"></div>
					</div>
				</div>
				<div class="table_line_chart" type="line_chart" name="disk_io">
					<div class="table_line_chart_info" name="disk_io">
						<div class="table_line_chart_title">Disk I/O (GByte/s)</div>
						<div type="svg" name="disk_io" id="disk_io"></div>
					</div>
				</div>
			</div>
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="phys_disks">Physical Disks</div>
			<div class="table_rows" type="toggle" name="phys_disks">
				{% for disk in host.details.sys.disk %}
					<div class="table_row">
						<div class="table_row_label">Disk</div>
						<div class="table_row_text">
							<div class="table_row_inner">
								<div class="table_row_inner_label">Name</div>
								<div class="table_row_inner_text">{{ disk.name }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">Size (Bytes)</div>
								<div class="table_row_inner_text">{{ disk.size }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="disk_parts">Disk Partitions</div>
			<div class="table_rows" type="toggle" name="disk_parts">
				{% for part in host.details.sys.partition %}
					<div class="table_row">
						<div class="table_row_label">Partition</div>
						<div class="table_row_text">
							<div class="table_row_inner">
								<div class="table_row_inner_label">Name</div>
								<div class="table_row_inner_text">{{ part.name }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">Size (Bytes)</div>
								<div class="table_row_inner_text">{{ part.size }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">Bootable</div>
								<div class="table_row_inner_text">{{ part.bootable }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">Mountpoint</div>
								<div class="table_row_inner_text">{{ part.mountpoint }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">Filesystem</div>
								<div class="table_row_inner_text">{{ part.fstype }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	{# Host Memory #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_memory" style="display:none;">
		<div class="table_rows" type="table" name="memory_overview">
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="mem_stats">Memory Statistics</div>
			<div class="table_rows" type="toggle" name="mem_stats">
				<div class="table_row">
					<div class="table_row_label">Total (MB)</div>
					<div class="table_row_text" type="summary" table="mem_use" name="total"></div>
				</div>
				<div class="table_row">
					<div class="table_row_label">Free (MB)</div>
					<div class="table_row_text" type="summary" table="mem_use" name="free"></div>
				</div>
				<div class="table_row">
					<div class="table_row_label">Used (MB)</div>
					<div class="table_row_text" type="summary" table="mem_use" name="used"></div>
				</div>
				<div class="table_line_chart" type="line_chart" name="mem_use">
					<div class="table_line_chart_info" name="mem_use">
						<div class="table_line_chart_title">Memory Usage (MBytes)</div>
						<div type="svg" name="mem_use" id="mem_use"></div>
					</div>
				</div>
			</div>
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="mem_top">Top Memory Processes</div>
			<div class="table_rows" type="toggle" name="mem_top">
				<div class="table_stats" type="table" name="mem_top"></div>
			</div>
		</div>
	</div>
	
	{# Host CPU #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_cpu" style="display:none;">
		<div class="table_rows" type="table" name="cpu_overview">
			<div class="table_panel_title">CPU</div>
			<div class="table_line_chart" type="line_chart" name="cpu_use">
				<div class="table_line_chart_info" name="cpu_use">
					<div class="table_line_chart_title">CPU Usage (%)</div>
					<div type="svg" name="cpu_use" id="cpu_use"></div>
				</div>
			</div>
		</div>
	</div>
	
	{# Host Firewall #}
	{% if host.details.os_type == 'linux' %}
		{% if host.details.sys.firewall %}
		
			{# IPTables #}
			{% if host.details.sys.firewall.type == 'iptables' %}
				<div class="table_window" type="grouptoggle" group="host_details" name="host_fw" style="display:none;">
					<div class="table_rows" type="table" name="firewall_overview">
						{% for chain in host.details.sys.firewall.config %}
							<div class="table_panel_title table_panel_link" type="button" action="toggle" target="fw_{{ chain.1.chain }}">
								{% if chain.1.chain in host.details.sys.firewall.deftables %}
									<div class="fw_chain_icon fw_icon_{{ chain.1.chain }}"></div>
								{% endif %}
								<div class="fw_chain_title">
									<div class="fw_chain_name">{{ chain.1.chain }}</div>
								</div>
							</div>
							<div class="table_rows" type="toggle" name="fw_{{ chain.1.chain }}">
								<div class="table_headers">
									{% for col in host.details.sys.firewall.cols %}
										<div class="table_header table_header_rg" col="fw_{{ col.0 }}">{{ col.1 }}</div>
									{% endfor %}
								</div>
								{% for rule in chain.1.rules %}
									<div class="table_row">
										<div class="table_row_ind_line">
											{% for k,v in rule.1.iteritems %}
												<div class="table_col" col="fw_{{ k }}">{{ v }}</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
	
	{# Host Network #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_network" style="display:none;">
		<div class="table_rows" type="table" name="network_overview">
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="net_stats">Network Statistics</div>
			<div class="table_rows" type="toggle" name="net_stats">
				<div class="table_line_chart" type="line_chart" name="net_io">
					<div class="table_line_chart_info" name="net_io">
						<div class="table_line_chart_title">Network I/O (Bit/s)</div>
						<div type="svg" name="net_io" id="net_io"></div>
					</div>
				</div>
			</div>
			<div class="table_panel_title table_panel_link" type="button" action="toggle" target="net_dev">Network Devices</div>
			<div class="table_rows" type="toggle" name="net_dev">
				{% for nic in host.details.sys.network %}
					<div class="table_row">
						<div class="table_row_label">NIC</div>
						<div class="table_row_text">
							<div class="table_row_inner">
								<div class="table_row_inner_label">ID</div>
								<div class="table_row_inner_text">{{ nic.id }}</div>
							</div>
							<div class="table_row_inner">
								<div class="table_row_inner_label">HWAddr</div>
								<div class="table_row_inner_text">{{ nic.hwaddr }}</div>
							</div>
							{% if "ipv4" in nic %}
								<div class="table_row_inner">
									<div class="table_row_inner_label">v4 Address</div>
									<div class="table_row_inner_text">{{ nic.ipv4.addr }}</div>
								</div>
								<div class="table_row_inner">
									<div class="table_row_inner_label">v4 Mask</div>
									<div class="table_row_inner_text">{{ nic.ipv4.netmask }}</div>
								</div>
								<div class="table_row_inner">
									<div class="table_row_inner_label">v4 Broadcast</div>
									<div class="table_row_inner_text">{{ nic.ipv4.broadcast }}</div>
								</div>
								<div class="table_row_inner">
									<div class="table_row_inner_label">v4 Gateway</div>
									<div class="table_row_inner_text">{{ nic.ipv4.gateway }}</div>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	{# Host Services #}
	<div class="table_window" type="grouptoggle" group="host_details" name="host_services" style="display:none;">
		<div class="table_panel_title" table="services_overview">Services</div>
		<div class="table_headers" table="services_overview">
			<div class="table_header table_header_md" col="service_name">Name</div>
			<div class="table_header table_header_md" col="service_state">State</div>
			<div class="table_header table_header_md" col="service_state_control">Control</div>
			<div class="table_header table_header_md" col="service_monitor">Monitor</div>
			<div class="table_header table_header_md" col="service_monitor_control">Control</div>
		</div>
		<div class="table_rows" type="table" name="services_overview"></div>
	</div>
</div>