<div class="container-fluid" id="handlers_overview" style="display:none;">
  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          <div class="chart-title-expand">
            {% include "core/object_controls.html" %}
          </div>
        </div>
        <div class="chart-stage">
        
          {# Thumbnails Layout #}
          <div id="handlers_thumbnails" class="layout-thumbnails layout-container row" style="display:none;"></div>
          
          {# List Layout #}
          <div id="handlers_list" class="layout-list layout-container" style="display:none;">
            <table class="table table-striped">
              <thead id="handlers_list_headers">
              </thead>
              <tbody id="handlers_list_body">
              </tbody>
            </table>
          </div>
        </div>
        <div class="chart-notes"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="handlers_detail" style="display:none;">
  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          <div class="chart-title-expand">
            <div class="chart-title-txt">Manifest</div>
            <div class="chart-title-btns">
              <button type="button" class="btn btn-default btn-xs pull-right chart-title-btn" id="edit-manifest">Edit</button>
              <button type="button" class="btn btn-success btn-xs pull-right chart-title-btn" id="save-manifest" style="display:none;">Save</button>
            </div>
          </div>
        </div>
        <div class="chart-stage" id="manifests-editor">
        </div>
        <div class="chart-notes"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper" id="handler-properties">
        <div class="chart-title">
          <div class="chart-title-expand">
            <div class="chart-title-txt">Properties</div>
            <div class="chart-title-btns">
              <button type="button" class="btn btn-default btn-xs pull-right chart-title-btn" id="edit-handler">Edit</button>
              <button type="button" class="btn btn-success btn-xs pull-right chart-title-btn" id="save-handler" style="display:none;">Save</button>
            </div>
          </div>
        </div>
        <div id="handler_properties_container"></div>
        <div class="chart-notes"></div>
      </div>
    </div>
  </div>
</div>