<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          <div style="overflow:auto;">
            <button type="button" class="btn btn-danger btn-xs pull-right">Delete</button>
            <button type="button" class="btn btn-default btn-xs pull-right" style="margin-right:10px;" data-toggle="modal" data-target="#create-handler">Create</button>
          </div>
        </div>
        <div class="chart-stage">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Path</th>
                <th>Method</th>
                <th>Protected</th>
                <th>Enabled</th>
              </tr>
            </thead>
            <tbody id="handlers-list">
            </tbody>
          </table>
        </div>
        <div class="chart-notes"></div>
      </div>
    </div>
  </div>
</div>