{% for formula in host.formulas %}
	<div class="popup_content" type="popup" target="{{ formula.formula }}_log">
		<div class="popup_title">Formula Log: {{ formula.name }}</div>
		<div class="popup_body">
			<div class="popup_subheader popup_subheader_link" type="button" action="toggle" target="log_sum_{{ formula.formula }}">Summary</div>
			<div class="popup_subcontent" type="toggle" name="log_sum_{{ formula.formula }}">
				<div class="popup_subrow">
					<div class="popup_subrow_label">End Time</div>
					<div class="popup_subrow_text">{{ formula.log.results.end_time }}</div>
				</div>
				<div class="popup_subrow">
					<div class="popup_subrow_label">Exit Code</div>
					<div class="popup_subrow_text">{{ formula.log.results.exit_code }}</div>
				</div>
				<div class="popup_subrow">
					<div class="popup_subrow_label">Exit Status</div>
					<div class="popup_subrow_text">{{ formula.log.results.exit_status }}</div>
				</div>
				<div class="popup_subrow">
					<div class="popup_subrow_label">Exit Message</div>
					<div class="popup_subrow_text">{{ formula.log.results.exit_msg }}</div>
				</div>
			</div>
			<div class="popup_subheader popup_subheader_link" type="button" action="toggle" target="log_entries_{{ formula.formula }}">Log Entries</div>
			<div class="popup_subcontent" style="font-family:'Courier New', Courier, monospace;" type="toggle" name="log_entries_{{ formula.formula }}">
				{% for entry in formula.log.log %}
					{% if entry.1.type == 'EXCEPTION' %}
						<div class="popup_log_row popup_log_exception">{{ entry.1.time }}:[{{ entry.1.type }}]:</div>
						{% for line in entry.1.traceback %}
							<div class="popup_log_row popup_log_traceback">{{ line }}</div>
						{% endfor %}
					{% else %}
						<div class="popup_log_row">{{ entry.1.time }}:[{{ entry.1.type }}]: {{ entry.1.msg }}</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% for fh in formula.history %}
		<div class="popup_content" type="popup" target="{{ fh.formula }}_log_{{ forloop.counter }}">
			<div class="popup_title">Formula Log: {{ fh.name }}</div>
			<div class="popup_body">
				<div class="popup_subheader popup_subheader_link" type="button" action="toggle" target="log_sum_{{ fh.formula }}_{{ forloop.counter }}">Summary</div>
				<div class="popup_subcontent" type="toggle" name="log_sum_{{ fh.formula }}_{{ forloop.counter }}">
					<div class="popup_subrow">
						<div class="popup_subrow_label">End Time</div>
						<div class="popup_subrow_text">{{ fh.log.results.end_time }}</div>
					</div>
					<div class="popup_subrow">
						<div class="popup_subrow_label">Exit Code</div>
						<div class="popup_subrow_text">{{ fh.log.results.exit_code }}</div>
					</div>
					<div class="popup_subrow">
						<div class="popup_subrow_label">Exit Status</div>
						<div class="popup_subrow_text">{{ fh.log.results.exit_status }}</div>
					</div>
					<div class="popup_subrow">
						<div class="popup_subrow_label">Exit Message</div>
						<div class="popup_subrow_text">{{ fh.log.results.exit_msg }}</div>
					</div>
				</div>
				<div class="popup_subheader popup_subheader_link" type="button" action="toggle" target="log_entries_{{ fh.formula }}_{{ forloop.counter }}">Log Entries</div>
				<div class="popup_subcontent" style="font-family:'Courier New', Courier, monospace;" type="toggle" name="log_entries_{{ fh.formula }}_{{ forloop.counter }}">
					{% for entry in fh.log.log %}
						{% if entry.1.type == 'EXCEPTION' %}
							<div class="popup_log_row popup_log_exception">{{ entry.1.time }}:[{{ entry.1.type }}]:</div>
							{% for line in entry.1.traceback %}
								<div class="popup_log_row popup_log_traceback">{{ line }}</div>
							{% endfor %}
						{% else %}
							<div class="popup_log_row">{{ entry.1.time }}:[{{ entry.1.type }}]: {{ entry.1.msg }}</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endfor %}