{# Router Overview #}
<div class="table_50" type="table" target="router_overview" style="opacity:0.0;">
	<div class="table_title">
		<div class="table_title_label">Overview</div>
		<div class="table_actions">
		
			{# Router Edit/Save #}
			<div class="table_action" active="yes" type="button" action="method" target="router.edit">Edit</div>
			<div class="table_action" active="no" type="button" action="method" target="router.save" style="display:none;">Save</div>
		</div>
	</div>

	{# Router Details #}
	<div class="table_window">
		<div class="table_rows" type="table">
			<div class="table_row">
				<div class="table_row_label">Name</div>
				<div class="table_row_input">
					<input type="text" form="edit_router" name="name" value="{{ routers.detail.name }}" disabled>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Description</div>
				<div class="table_row_input">
					<input type="text" form="edit_router" name="desc" value="{{ routers.detail.desc }}" disabled>
				</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">UUID</div>
				<div class="table_row_text">{{ routers.detail.uuid }}</div>
			</div>
			<div class="table_row">
				<div class="table_row_label">Datacenter</div>
				<div class="table_row_select">
					<select form="edit_router" name="datacenter" disabled>
						{% if not group.detail.datacenter %}
							<option value="" selected="selected">-none-</option>
							{% for datacenter in datacenters %}
								<option value="{{ datacenter.uuid }}">{{ datacenter.name }}</option>
							{% endfor %}
						{% else %}
							<option value="">-none-</option>
							{% for datacenter in datacenters %}
								{% if datacenter.uuid == routers.detail.datacenter.uuid %}
									<option value="{{ datacenter.uuid }}" selected="selected">{{ datacenter.name }}</option>
								{% else %}
									<option value="{{ datacenter.uuid }}">{{ datacenter.name }}</option>
								{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

{# Router Interfaces #}
<div class="table_50" type="table" target="router_interfaces" style="opacity:0.0;">
	<div class="table_title">
		<div class="table_title_label">Interfaces</div>
		<div class="table_actions">
		
			{# Interface Actions #}
			<div class="table_action" type="button" action="popup" target="router.add_interface">Add</div>
			<div class="table_action" type="button" action="method" target="router.remove_interface" require="input[type='radio'][name='interface_uuid']:checked">Remove</div>
		</div>
	</div>
	
	{# Router Interfaces #}
	<div class="table_window">
		<div class="table_panel_title">Interfaces</div>
		<div class="table_headers" table="interface_list">
			<div class="table_select_header"></div>
			<div class="table_header table_header_md" col="interface_name">Name</div>
			<div class="table_header table_header_md" col="interface_uuid">UUID</div>
			<div class="table_header table_header_md" col="interface_desc">Description</div>
		</div>
		<div class="table_rows" type="table" name="router_interfaces">
			{% for interface in routers.detail.interfaces %}
				<div class="table_row table_row_link" type="button" action="toggle" target="{{ interface.uuid }}_attrs" interface="{{ interface.uuid }}">
					<div class="table_select_col">
						<input type="radio" name="interface_uuid" action="update" value="{{ interface.uuid }}">
					</div>
					<div class="table_col" col="interface_name">{{ interface.name }}</div>
					<div class="table_col" col="interface_uuid">{{ interface.uuid }}</div>
					<div class="table_col" col="interface_desc">{{ interface.desc }}</div>
				</div>
				<div class="table_row_group" style="display:none;" type="toggle" name="{{ interface.uuid }}_attrs">
					<div class="table_row">
						<div class="table_row_label">Name</div>
						<div class="table_row_input">
							<input type="text" form="edit_interface_{{ interface.uuid }}" name="name" value="{{ interface.name }}" disabled>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">Description</div>
						<div class="table_row_input">
							<input type="text" form="edit_interface_{{ interface.uuid }}" name="desc" value="{{ interface.desc }}" disabled>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">HW Address</div>
						<div class="table_row_input">
							<input type="text" form="edit_interface_{{ interface.uuid }}" name="hwaddr" value="{{ interface.hwaddr }}" disabled>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">IPv4 Address</div>
						<div class="table_row_input">
							<input type="text" form="edit_interface_{{ interface.uuid }}" name="ipv4_addr" value="{{ interface.ipv4_addr }}" disabled>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">IPv4 Network</div>
						<div class="table_row_input">
							<select name="ipv4_net" form="edit_interface_{{ interface.uuid }}" disabled="disabled">
								{% if interface.ipv4_net %}
									<option value="">-none-</option>
								{% else %}
									<option value="" selected="selected">-none-</option>
								{% endif %}
								{% for block in blocks.ipv4 %}
									{% if interface.ipv4_net == block.uuid %}
										<option value="{{ block.uuid }}" selected="selected">{{ block.network }}/{{ block.prefix }}</option>
									{% else %}
										<option value="{{ block.uuid }}">{{ block.network }}/{{ block.prefix }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">IPv6 Address</div>
						<div class="table_row_input">
							<input type="text" form="edit_interface_{{ interface.uuid }}" name="ipv6_addr" value="{{ interface.ipv6_addr }}" disabled>
						</div>
					</div>
					<div class="table_row">
						<div class="table_row_label">IPv6 Network</div>
						<div class="table_row_input">
							<select name="ipv6_net" form="edit_interface_{{ interface.uuid }}" disabled="disabled">
								{% if interface.ipv6_net %}
									<option value="">-none-</option>
								{% else %}
									<option value="" selected="selected">-none-</option>
								{% endif %}
								{% for block in blocks.ipv6 %}
									{% if interface.ipv6_net == block.uuid %}
										<option value="{{ block.uuid }}" selected="selected">{{ block.network }}/{{ block.prefix }}</option>
									{% else %}
										<option value="{{ block.uuid }}">{{ block.network }}/{{ block.prefix }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
