{# Create IP Block #}
<div class="popup_content" type="popup" target="ip_block.create">
	<div class="popup_title">Create {{ proto.label }} Block</div>
	<div class="popup_body">
		<div class="popup_desc">
			Create a new {{ proto.label }} block definition. You may optionally assign to an existing datacenter/router
			object.
		</div>
		<form id="ip_block_create">
			
			{# IP Block Network #}
			<div class="popup_row">
				<div class="popup_row_label">Network</div>
				<div class="popup_row_input">
					<input type="text" form="ip_block_create" name="network" value="" required />
					<div class="form_input_icon_def" type="icon" form="ip_block_create" name="network"></div>
				</div>
			</div>
			
			{# IP Block Prefix #}
			<div class="popup_row">
				<div class="popup_row_label">Prefix</div>
				<div class="popup_row_input">
					<input type="text" form="ip_block_create" name="prefix" value="" required />
					<div class="form_input_icon_def" type="icon" form="ip_block_create" name="prefix"></div>
				</div>
			</div>
			
			{# IP Block Description #}
			<div class="popup_row">
				<div class="popup_row_label">Description</div>
				<div class="popup_row_input">
					<input type="text" form="ip_block_create" name="desc" value="" />
					<div class="form_input_icon_def" type="icon" form="ip_block_create" name="desc"></div>
				</div>
			</div>
			
			{# IP Block Datacenter #}
			<div class="popup_row">
				<div class="popup_row_label">Datacenter</div>
				<div class="popup_row_input">
					<select name="datacenter" form="ip_block_create">
						<option value="">-none-</option>
						{% for datacenter in datacenters %}
							<option value="{{ datacenter.uuid }}">{{ datacenter.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			{# IP Block Router #}
			<div class="popup_row">
				<div class="popup_row_label">Router</div>
				<div class="popup_row_input">
					<select name="router" form="ip_block_create">
						<option value="">-none-</option>
						{% for router in routers %}
							<option value="{{ router.uuid }}">{{ router.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			{# IP Block Active #}
			<div class="popup_row">
				<div class="popup_row_label">Active</div>
				<div class="popup_row_text">
					<input type="checkbox" form="ip_block_create" name="active" checked="checked"/>
				</div>
			</div>
			
			{# IP Block Locked #}
			<div class="popup_row">
				<div class="popup_row_label">Locked</div>
				<div class="popup_row_text">
					<input type="checkbox" form="ip_block_create" name="locked"/>
				</div>
			</div>

			{# Form Validation Response #}
			<div class="form_response" type="response" target="#ip_block_create"></div>
		</form>
		
		{# Submit API Request #}
		<div class="popup_submit" type="button" action="method" target="ip_block.create">Create {{ proto.label }} Block</div>
	</div>
</div>