.error_window {
	min-width: 500px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

.error_title {
	font-size: 1.1em;
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
	border-bottom: solid 1px #eee;
	overflow: auto;
	height: 25px;
	line-height: 25px;
}

.error_http_code {
	float: left;
	font-weight: bold;
}

.error_title_txt {
	float: left;
}

.error_title_icon {
	float: right;
	background-image: url(/static/images/error.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

.debug_message {
	margin: 10px 0 0 0;
	font-size: 0.9em;
	padding: 10px;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #eee;
}

.debug_string {
	padding: 5px;
	margin: 0 0 10px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #eee;
	background-color: #fff;
}

.debug_stack_entry {
	
}

.debug_stack_location {
	
}

.debug_stack_text {
	padding: 5px;
	margin: 5px;
	border-left: solid 1px #eee;
}