<script id="utility_load" type="text/javascript">
	var utility_rmap = {{ utilities.detail.rmap|safe }};
	var utility_name = "{{ utilities.detail.name|safe }}";
</script>
<div class="utility_edit">
	<form id="utility_edit">
		<div class="page_header_box">
			<div class="page_title_actions">
				<div class="page_title_jump">
					<div class="page_jump_select">
						<select name="utility_jump">
							{% for utility in utilities.all %}
								{% if utility.uuid == utilities.detail.uuid %}
									<option value="{{ utilities.detail.uuid }}" selected="selected">{{ utilities.detail.name }}</option>
								{% else %}
									<option value="{{ utility.uuid }}" >{{ utility.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="page_jump_label">Change Utility</div>
				</div>
			</div>
			<div class="page_title">{{ utilities.detail.name }} - View Utility</div>
		</div>
		<div class="edit_menu">
			<div class="edit_menu_item">
				<div class="edit_menu_button">
					<div class="edit_menu_button_inactive" type="button" action="method" target="utility.validate" active="no">Validate</div>
				</div>
			</div>
			<div class="edit_menu_item">
				<div class="edit_menu_button">
					<div class="edit_menu_button_inactive" type="button" action="method" target="utility.save" button="save" active="no">Save</div>
				</div>
			</div>
			<div class="edit_menu_item">
				<div class="edit_menu_button">
					<div id="edit_toggle" class="edit_menu_button_active" type="button" action="method" target="utility.open" active="yes">Edit</div>
				</div>
			</div>
			<div class="edit_menu_info">There are currently no changes to the utility</div>
		</div>
		<div class="editor_frame">
			<div class="editor" editor type="utility" uuid="{{ utilities.detail.uuid }}" id="edit_0"></div>
			<div class="sidebar">
				<div class="sidebar_group">
					<div class="sidebar_group_title"  type="button" action="toggle" target="utility_details">Utility Details</div>
					<div class="sidebar_group_content" type="toggle" name="utility_details">
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">UUID:</div>
							<div class="sidebar_group_detail_text">{{ utilities.detail.uuid }}</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Description:</div>
							<div class="sidebar_group_detail_input">
								<input type="text" form="edit_utility" name="desc" value="{{ utilities.detail.desc }}" disabled="" noreset/>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Path:</div>
							<div class="sidebar_group_detail_input">
								<input type="text" form="edit_utility" name="path" value="{{ utilities.detail.path }}" disabled="" noreset/>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Method:</div>
							<div class="sidebar_group_detail_input">
								<select name="method" form="edit_utility" disabled="">
									{% for method in methods %}
										{% if method == utilities.detail.method %}
											<option value="{{ method }}" selected="selected">{{ method }}</option>
										{% else %}
											<option value="{{ method }}">{{ method }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Enabled:</div>
							<div class="sidebar_group_detail_input">
								<select name="enabled" form="edit_utility" disabled="">
									{% if utilities.detail.enabled == True %}
										<option value="bool:true" selected="selected">Yes</option>
										<option value="bool:false">No</option>
									{% else %}
										<option value="bool:true">Yes</option>
										<option value="bool:false" selected="selected">No</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Protected:</div>
							<div class="sidebar_group_detail_input">
								<select name="protected" form="edit_utility" disabled="">
									{% if utilities.detail.protected == True %}
										<option value="bool:true" selected="selected">Yes</option>
										<option value="bool:false">No</option>
									{% else %}
										<option value="bool:true">Yes</option>
										<option value="bool:false" selected="selected">No</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Object Type:</div>
							<div class="sidebar_group_detail_input">
								<select name="object" form="edit_utility" disabled="">
									{% if utilities.detail.object %}
										<option value="">-none-</option>
									{% else %}
										<option value="" selected="selected">-none-</option>
									{% endif %}
									{% for acl_obj in acl.objects %}
										{% if acl_obj.type == utilities.detail.object %}
											<option value="{{ acl_obj.type }}" selected="selected">{{ acl_obj.name }}</option>
										{% else %}
											<option value="{{ acl_obj.type }}">{{ acl_obj.name }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Object Key:</div>
							<div class="sidebar_group_detail_input">
								{% if utilities.detail.object_key %}
									<input type="text" form="edit_utility" name="object_key" value="{{ utilities.detail.object_key }}" disabled="" noreset/>
								{% else %}
									<input type="text" form="edit_utility" name="object_key" value="" disabled="" noreset/>
								{% endif %}
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Module:</div>
							<div class="sidebar_group_detail_input">
								<select name="mod" form="edit_utility" disabled="">
									{% for module in modules %}
										{% if module == utilities.detail.mod %}
											<option value="{{ module }}" selected="selected">{{ module }}</option>
										{% else %}
											<option value="{{ module }}">{{ module }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">Class:</div>
							<div class="sidebar_group_detail_input">
								<select name="cls" form="edit_utility" disabled="">
									{% for util in utils %}
										{% if util.1 == utilities.detail.cls %}
											<option value="{{ util.1 }}" selected="selected">{{ util.1 }}</option>
										{% else %}
											<option value="{{ util.1 }}">{{ util.1 }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="sidebar_group_detail">
							<div class="sidebar_group_detail_label">External Utilities:</div>
							<div class="sidebar_group_detail_input">
								<select name="utils" form="edit_utility" disabled="" multiple>
									{% for util in utils %}
										{% if util.0 in utilities.detail.utils %}
											<option value="{{ util.0 }}" selected="selected">{{ util.1 }}</option>
										{% else %}
											<option value="{{ util.0 }}">{{ util.1 }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" form="edit_utility" name="uuid" value="{{ utilities.detail.uuid }}" noreset>
		<input type="hidden" form="edit_utility" name="edit" value="{{ utilities.edit }}" noreset ignore>
		<input type="hidden" form="edit_utility" name="validated" value="yes" noreset ignore>
		<input type="hidden" form="edit_utility" name="saved" value="" noreset ignore>
	</form>
</div>